@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Poppins&family=Source+Sans+Pro&display=swap");
body {
  height: 100%;
  width: 100%;
}

main {
  margin-top: 80px;
  font-family: poppins;
  min-height: 100%;
}

main .content-wrap {
  overflow: auto;
  padding-bottom: 270px;
}

main .readMore {
  color: #4863fc;
}

main .readMore:hover {
  color: #102cc7;
}

.banner {
  padding: 10%;
  width: 100%;
  height: 50vw;
  background-color: blue;
  background-image: url("/resources/takingRecord.jpg");
  background-size: cover;
}

.banner .banner-title {
  display: flex;
  padding: 0 10vw 0 10vw;
}

.banner .banner-title h1 {
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #494040;
  font-size: 60px;
}

.banner .banner-btn {
  display: flex;
  height: 200px;
}

.banner .banner-btn button {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  background-color: coral;
  border-width: 3px;
  border-style: solid;
  border-radius: 800px;
  padding: 5px 20px 5px 20px;
  border-color: #b63a0d;
}

.banner .banner-btn button:hover {
  background-color: white;
  color: #6d330c;
  animation-name: banner-btn-bg;
  animation-duration: .3s;
}

.about-us {
  padding: 10%;
}

@media (min-width: 1200px) {
  .about-us {
    display: flex;
  }
}

.about-us .text-container {
  padding: 10px;
  flex: 1;
  text-align: justify;
}

.about-us .text-container h1 {
  font-size: 40px;
}

.about-us .text-container p {
  font-size: 22px;
}

.about-us .about-photo {
  flex: 1;
  padding: 40px;
  display: flex;
}

.about-us .about-photo .img-container {
  margin: auto;
  background-color: #d35151;
  width: 100%;
  height: calc((100vw-20)*.59);
}

.about-us .about-photo .img-container img {
  height: 100%;
  width: 100%;
}

.service-container {
  background-color: #f8c3916b;
  padding: 10%;
  color: #703a07;
}

.service-container .service-about h1 {
  text-align: center;
  font-size: 40px;
}

.service-container .all-services {
  margin-top: 50px;
}

@media (min-width: 1000px) {
  .service-container .all-services {
    display: flex;
  }
}

.service-container .all-services .service {
  padding: 20px;
  flex: 1;
}

.service-container .all-services .service .service-icon {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.service-container .all-services .service .service-icon i {
  font-size: 100px;
}

.service-container .all-services .service .service-detail {
  font-size: 22px;
  text-align: center;
}

.feature-container {
  padding: 10%;
  background-color: rgba(214, 214, 208, 0.87);
}

.feature-container .feature-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.feature-container .feature {
  margin: 50px 0 50px 0;
}

@media (min-width: 1000px) {
  .feature-container .feature {
    display: flex;
  }
}

.feature-container .feature .details {
  flex: 1.6;
}

.feature-container .feature .details h1 {
  font-size: 30px;
}

.feature-container .feature .details p {
  text-align: justify;
  font-size: 22px;
}

.feature-container .feature .image-container {
  padding: 50px;
  flex: 1;
}

.feature-container .feature .image-container .image-holder {
  margin: auto;
  background-color: #d35151;
  width: 100%;
  height: calc((100vw-20)*.59);
}

.feature-container .feature .image-container .image-holder img {
  height: 100%;
  width: 100%;
}

.review-container {
  padding: 10%;
  background-color: #ffffff;
}

.review-container .review-title {
  text-align: center;
  margin-bottom: 20px;
}

.review-container .review {
  margin: 50px 0 50px 0;
}

@media (min-width: 1000px) {
  .review-container .review {
    display: flex;
  }
}

.review-container .review .details {
  flex: 1.6;
}

.review-container .review .details h1 {
  font-size: 30px;
}

.review-container .review .details p {
  text-align: justify;
  font-size: 22px;
}

.review-container .review .image-container {
  padding: 50px;
  flex: 1;
}

.review-container .review .image-container .image-holder {
  margin: auto;
  background-color: #d35151;
  width: 100%;
  height: calc((100vw-20)*.59);
}

.review-container .review .image-container .image-holder img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  .banner {
    padding: 10%;
    width: 100%;
    height: 50vw;
    background-color: blue;
    background-image: url("/resources/takingRecord.jpg");
    background-size: cover;
  }
  .banner .banner-title {
    display: flex;
    padding: 0 10vw 0 10vw;
  }
  .banner .banner-title h1 {
    margin: auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #494040;
    font-size: 30px;
  }
  .banner .banner-btn {
    display: flex;
    height: 100px;
  }
  .banner .banner-btn button {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background-color: coral;
    border-width: 3px;
    border-style: solid;
    border-radius: 800px;
    padding: 5px 20px 5px 20px;
    border-color: #b63a0d;
  }
  .banner .banner-btn button:hover {
    background-color: white;
    color: #6d330c;
  }
}

@media (max-width: 600px) {
  .banner {
    padding: 10%;
    width: 100%;
    height: 50vw;
    background-color: blue;
    background-image: url("/resources/takingRecord.jpg");
    background-size: cover;
  }
  .banner .banner-title {
    display: none;
  }
  .banner .banner-btn {
    display: flex;
    height: 100px;
  }
  .banner .banner-btn button {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background-color: coral;
    border-width: 3px;
    border-style: solid;
    border-radius: 800px;
    padding: 5px 20px 5px 20px;
    border-color: #b63a0d;
  }
  .banner .banner-btn button:hover {
    background-color: white;
    color: #6d330c;
  }
}

@keyframes banner-btn-bg {
  0% {
    background-color: coral;
    color: rgba(109, 51, 12, 0.541);
  }
  25% {
    background-color: #ec9170;
    color: rgba(109, 51, 12, 0.712);
  }
  50% {
    background-color: #f0b49e;
    color: rgba(109, 51, 12, 0.89);
  }
  100% {
    background-color: white;
    color: #6d330c;
  }
}
