@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Poppins&family=Source+Sans+Pro&display=swap");
body {
  background-color: white;
}

main {
  margin-top: 80px;
  min-height: 100%;
  min-width: 100%;
  padding-top: 20px;
}

p {
  color: grey;
}

#heading {
  text-transform: uppercase;
  color: #c0392b;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus {
  box-shadow: none !important;
  border: 1px solid #673AB7;
  outline-width: 0;
}

#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform textarea:focus {
  box-shadow: none !important;
  border: 1px solid #673AB7;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #673AB7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover {
  background-color: #311B92;
}

#msform .action-button:focus {
  background-color: #311B92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover {
  background-color: #000000;
}

#msform .action-button-previous:focus {
  background-color: #000000;
}

#msform .fieldInputs {
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 2px;
  width: 60%;
  box-sizing: border-box;
  font-family: montserrat;
  background-color: white;
  font-size: 15px;
  color: #2C3E50;
  letter-spacing: 1px;
}

.form-card {
  text-align: left;
}

.secondary-container {
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(98, 97, 99, 0.76);
  padding: 10px 10px 10px 10px;
  background-color: white;
  margin: 10px 0 0 0;
}

.primary-card {
  background-color: white;
  padding: 10px 20px 10px 20px;
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #6a3c19;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.subsection-title {
  font-size: 20px;
  color: dodgerblue;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

h4.subsection-title {
  border-left: 5px solid #6a3c19;
  color: #6a3c19;
  padding: 3px 10px 3px 10px;
  margin: 10px 0px 20px 0;
  font-size: 24px;
}

h5.left.subsection-title {
  background-color: white;
  border-left: 5px solid #6a3c19;
  color: #6a3c19;
  padding: 3px 10px 3px 10px;
  margin: 10px 10px 10px 0;
  font-size: 24px;
}

.subtance-history-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.subtance-history-container .secondary-container {
  width: 48%;
}

.collapse-item-header {
  box-sizing: border-box;
  padding: 5px;
  background-color: #f3f2f1;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(98, 97, 99, 0.76);
}

.collapse-item-header:hover {
  box-sizing: border-box;
  padding: 5px;
  background-color: #f3f2f1;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(98, 97, 99, 0.76);
}

.accordion .collapse-item {
  margin-bottom: 10px;
}

.extraInput {
  margin-left: 25px;
}

.purple-text {
  color: #673AB7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: rgba(245, 147, 19, 0.89);
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.family-container {
  background-color: #ffffff;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(98, 97, 99, 0.76);
}

.family-container .part .left {
  text-align: left;
}

.family-container .part .sub-part {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(98, 97, 99, 0.76);
}

.family-container .part .sub-part .title {
  color: #949494;
  font-size: 18px;
}

.family-container .sub-part-row {
  display: flex;
  padding: 10px 10px 0px 0px;
}

.family-container .sub-part-row h5 {
  flex: 1;
}

.family-container .sub-part .sub-part-row p {
  flex: 1;
}

.family-container .sub-sub-part p {
  color: black;
}

.row p {
  color: black;
}

.row .col .physical-prob {
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  color: black;
}

.rowRowElementHolder {
  display: flex;
}

.rowRowElementHolder .singleElement {
  flex: 1;
  margin: 0 5px 0 5px;
}

.singleLine {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.countShow {
  color: #034cd3;
  font-size: 17px;
}

.title-bar {
  background-color: #e6e8ef;
}

i.far.fa-plus-square {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  color: #877aff;
}

i.far.fa-plus-square:hover {
  color: #0a1a24;
}

i.far.fa-plus-square::before {
  font-size: 35px;
}

.addButton {
  margin: 10px 10px 10px 10px;
}

.each-vaccine-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.each-vaccine-info .vaccine-info-subsection:nth-child(1) {
  width: 25%;
}

.each-vaccine-info .vaccine-info-subsection:nth-child(2) {
  width: 35%;
}

.each-vaccine-info .vaccine-info-subsection:nth-child(3) {
  width: 35%;
}

.question-Container.family-container {
  padding: 5px;
  background-color: #5afca68f;
}

.option-Container.family-container {
  padding: 5px;
  background-color: #a2b4ff;
}

.flx_prnt_input_opt {
  width: 100%;
  height: 100%;
}

.flx_prnt_input_opt .flx_chld_input {
  margin-right: 20px;
  flex: 3;
}

.flx_prnt_input_opt .flx_chld_opt {
  text-align: end;
  flex: 1;
}

@media (max-width: 1200px) {
  .subtance-history-container {
    flex-direction: column;
  }
  .subtance-history-container .secondary-container {
    width: 100%;
  }
  .each-vaccine-info {
    flex-direction: column;
  }
  .each-vaccine-info .vaccine-info-subsection:nth-child(1) {
    width: 95%;
  }
  .each-vaccine-info .vaccine-info-subsection:nth-child(2) {
    width: 95%;
  }
  .each-vaccine-info .vaccine-info-subsection:nth-child(3) {
    width: 95%;
  }
}

@media (min-width: 800px) {
  .flx_prnt_input_opt {
    display: flex;
    justify-content: space-between;
  }
}

.sub-part-row {
  display: flex;
  padding: 10px 10px 0px 0px;
}

.sub-part-row h5 {
  flex: 1;
  text-align: start;
  font-weight: normal;
  color: #6a3c19;
  padding: 3px 10px 3px 10px;
  margin: 10px 10px 0 0px;
  font-size: 24px;
  border-left: 5px solid #6a3c19;
}

.sub-part-row i {
  text-align: end;
}

@media (max-width: 500) {
  .sub-part-row i {
    text-align: start;
  }
}
