@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Poppins&family=Source+Sans+Pro&display=swap");
.nav-container {
  height: 80px;
  background-color: #ffffff;
}

.nav-container .elm-container {
  width: 100%;
  height: 100%;
}

nav .dpName {
  background-color: rgba(245, 147, 19, 0.89);
  border-radius: 60px;
  padding: 4px 10px 0 10px;
  font-family: 'Poppins';
  color: #693c12;
  font-size: 18px;
}

nav .dpName:hover {
  color: white;
  background-color: rgba(245, 147, 19, 0.89);
}

nav ul li:hover {
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

nav.navbar.navbar-expand-lg.navbar-dark.nav-container {
  padding: 0 60px 0 30px;
}

nav.navbar.navbar-expand-lg.navbar-dark.nav-container .navbar-brand {
  font-size: 30px;
  font-family: 'Poppins';
  color: #693c12;
}

.navbar-dark .navbar-nav .nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Poppins';
  color: #693c12;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-radius: 60px;
  animation-name: nav-bar-bg-change;
  color: white;
  background-color: #c9711f;
  animation-duration: .3s;
}

@keyframes nav-bar-bg-change {
  0% {
    color: #693c12;
    background-color: rgba(201, 113, 31, 0.411);
  }
  25% {
    color: rgba(182, 159, 138, 0.986);
    background-color: rgba(201, 113, 31, 0.637);
  }
  50% {
    color: #bda792;
    background-color: rgba(201, 113, 31, 0.897);
  }
  100% {
    color: white;
    background-color: #c9711f;
  }
}
