@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Poppins&family=Source+Sans+Pro&display=swap");
.nav-container {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 2px solid #bdc3c754;
}

.nav-container .elm-container {
  width: 100%;
  height: 100%;
}

nav .dpName {
  background-color: rgba(245, 147, 19, 0.89);
  border-radius: 60px;
  padding: 4px 10px 0 10px;
  font-family: 'Poppins';
  color: #693c12;
  font-size: 18px;
}

nav .dpName:hover {
  color: white;
  background-color: rgba(245, 147, 19, 0.89);
}

nav ul li:hover {
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-container {
  padding: 0 60px 0 30px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-container .navbar-brand {
  font-size: 30px;
  font-family: 'Poppins';
  color: #693c12;
}

.navbar-light .navbar-nav .nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Poppins';
  color: #693c12;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-radius: 60px;
  color: white;
  background-color: #c9711f;
  animation-duration: .3s;
}

.navbar-collapse.collapse.show {
  background-color: white;
}

.bg-light {
  background-color: #ffffff !important;
}
