@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Poppins&family=Source+Sans+Pro&display=swap");
body {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  font-family: poppins;
}

body button {
  font-family: poppins;
}

main {
  margin-top: 80px;
  display: flex;
}

main .side-bar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 80px;
  width: 300px;
  padding-bottom: 150px;
  background-color: white;
}

main .side-bar .topic-container {
  display: flex;
}

main .side-bar .topic-container .topic {
  flex: 1;
  margin: auto;
  background-color: rgba(245, 147, 19, 0.89);
  color: white;
  min-height: 70px;
  padding: 10px 10px 10px 30px;
  display: flex;
}

main .side-bar .topic-container .topic h3 {
  margin: auto 0 auto 0;
}

main .side-bar .topic-container .angle {
  width: 60px;
  background-color: rgba(245, 147, 19, 0.89);
  min-height: 70px;
  display: flex;
  display: none;
}

main .side-bar .topic-container .angle i {
  margin: auto;
  font-size: 40px;
  color: #fdfdfd;
}

main .side-bar .nav-sec-cont {
  font-size: 20px;
  padding: 10px 10px 10px 20px;
  overflow-y: auto;
  height: 100%;
  border-right: rgba(209, 208, 208, 0.801);
  border-width: 0 1px 0 0;
  border-style: solid;
}

main .side-bar .nav-sec-cont .card {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(153, 152, 153, 0.76);
}

@media (max-width: 10 0px) {
  main .side-bar .nav-sec-cont .card {
    display: none;
  }
}

main .side-bar .nav-sec-cont .card .card-title {
  margin: 5px 5px 10px 5px;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(207, 207, 209, 0.726);
}

main .side-bar .nav-sec-cont .card .search-input {
  padding: 5px;
}

main .side-bar .nav-sec-cont .card .filter-container {
  margin-top: 10px;
  padding: 5px;
}

main .side-bar .nav-sec-cont .card .filter-container .filter-title {
  font-size: 17px;
  margin: 10px 5px 10px 5px;
}

main .side-bar .nav-sec-cont .card .filter-container .filter {
  font-size: 16px;
  margin: 10px 5px 10px 5px;
  padding-left: 10px;
  color: #90949c;
}

main .side-bar .nav-sec-cont .card .btn-container {
  width: 100%;
}

main .side-bar .nav-sec-cont .card .btn-container .search-btn {
  width: 100%;
  margin: 20px 0 10px 0;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  background-color: coral;
  color: #ffffff;
}

main .side-bar .nav-sec-cont .card .btn-container .search-btn:hover {
  background-color: #e46334;
}

main .wrapper {
  margin-left: 300px;
  flex: 1;
}

main .wrapper .notify-bar {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 80px;
  z-index: 1;
  background-color: #2c3e50;
  color: white;
  display: flex;
  min-height: 70px;
  max-height: 70px;
  padding: 10px;
  font-size: 20px;
}

main .wrapper .notify-bar .angle {
  position: relative;
  top: 0;
  left: -10px;
  top: -10px;
  width: 50px;
  background-color: rgba(245, 147, 19, 0.89);
  min-height: 70px;
  max-height: 70px;
  display: flex;
  display: none;
}

main .wrapper .notify-bar .angle i {
  margin: auto;
  font-size: 40px;
  color: #fdfdfd;
}

main .wrapper .notify-bar .selected-current {
  flex: 1;
  margin: auto;
  margin-left: 5px;
  text-align: center;
}

main .wrapper .notify-bar .total-selected {
  flex: 1;
  margin: auto;
  text-align: center;
}

main .wrapper .notify-bar .btn-container {
  flex: 1;
  max-width: 300px;
  display: flex;
}

main .wrapper .notify-bar .btn-container .continue {
  flex: 1;
}

main .wrapper .notify-bar .btn-container .dlt-param-btn {
  flex: 1;
}

main .wrapper .page-holder {
  margin-top: 70px;
}

main .wrapper .page-holder .dlt-btn {
  min-width: 50px;
  min-height: 30px;
  background-color: red;
  border-radius: 4px;
  border-width: 0px;
  color: white;
}

main .wrapper .page-holder .dlt-btn:hover {
  background-color: #c73c3c;
}

main .wrapper .page-holder table {
  width: 100%;
}

main .wrapper .page-holder table tbody tr {
  margin: 30px;
  border: 10px solid white;
}

main .wrapper .page-holder table tbody tr td {
  border-bottom: 5px solid #ffffff;
}

main .wrapper .page-holder table tbody .new {
  background-color: rgba(217, 217, 223, 0.856);
}

main .wrapper .page-holder table tbody .request-notify .icon-cont {
  text-align: center;
  font-size: 30px;
}

main .wrapper .page-holder table tbody .request-notify .icon-cont i {
  color: green;
}

main .wrapper .page-holder table tbody .request-notify .btn-cont .btn-safe {
  margin: 10px;
  min-width: 80px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  background-color: #18e605;
  color: #ffffff;
}

main .wrapper .page-holder table tbody .request-notify .btn-cont .btn-safe:hover {
  background-color: #129406;
}

main .wrapper .page-holder table tbody .request-notify .btn-cont .btn-danger {
  margin: 10px;
  min-width: 80px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  background-color: red;
  color: #ffffff;
}

main .wrapper .page-holder table tbody .request-notify .btn-cont .btn-danger:hover {
  background-color: #b30707;
}

main .wrapper .page-holder table tbody .warning-notify .icon-cont {
  text-align: center;
  font-size: 30px;
}

main .wrapper .page-holder table tbody .warning-notify .icon-cont i {
  color: red;
}

main .wrapper .page-holder table tbody .warning-notify .btn-cont button {
  margin: 10px;
  min-width: 80px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  background-color: red;
  color: #ffffff;
}

main .wrapper .page-holder table tbody .warning-notify .btn-cont button:hover {
  background-color: #b30707;
}

main .wrapper .page-holder table tbody .reminder-notify .icon-cont {
  text-align: center;
  font-size: 30px;
}

main .wrapper .page-holder table tbody .reminder-notify .icon-cont i {
  color: #f1c40f;
}

main .wrapper .page-holder table tbody .reminder-notify .btn-cont button {
  margin: 10px;
  min-width: 80px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  background-color: #f1c40f;
  color: #ffffff;
}

main .wrapper .page-holder table tbody .reminder-notify .btn-cont button:hover {
  background-color: #a38407;
}

main .wrapper .page-holder .pagination-holder {
  display: flex;
  margin: 20px 0 50px 0;
  height: 150px;
}

main .wrapper .page-holder .pagination-holder nav {
  margin: auto;
}

main .wrapper .page-holder .card {
  display: none;
  margin-top: 10px;
  padding: 10px;
  margin: 80px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(153, 152, 153, 0.76);
}

@media (max-width: 1000px) {
  main .wrapper .page-holder .card {
    display: block;
  }
}

main .wrapper .page-holder .card .card-title {
  margin: 5px 5px 10px 5px;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(207, 207, 209, 0.726);
}

main .wrapper .page-holder .card .search-input {
  padding: 5px;
}

main .wrapper .page-holder .card .filter-container {
  margin-top: 10px;
  padding: 5px;
}

main .wrapper .page-holder .card .filter-container .filter-title {
  font-size: 17px;
  margin: 10px 5px 10px 5px;
}

main .wrapper .page-holder .card .filter-container .filter {
  font-size: 16px;
  margin: 10px 5px 10px 5px;
  padding-left: 10px;
  color: #90949c;
}

main .wrapper .page-holder .card .btn-container {
  width: 100%;
}

main .wrapper .page-holder .card .btn-container .search-btn {
  width: 100%;
  margin: 20px 0 10px 0;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  background-color: coral;
  color: #ffffff;
}

main .wrapper .page-holder .card .btn-container .search-btn:hover {
  background-color: #e46334;
}

@media (max-width: 1000px) {
  main .side-bar {
    z-index: 10;
    overflow: hidden;
  }
  main .side-bar .topic-container .angle {
    display: block;
    width: 50px;
    background-color: rgba(245, 147, 19, 0.89);
    min-height: 70px;
    display: flex;
  }
  main .side-bar .topic-container .angle i {
    margin: auto;
    font-size: 40px;
    color: #fdfdfd;
  }
  main .side-bar .topic-container .angle i:hover {
    color: #0097e6;
  }
  main .wrapper {
    margin-left: 0px;
  }
  main .wrapper .notify-bar {
    margin-left: 0px;
    padding-right: 50px;
    width: 100%;
  }
  main .wrapper .notify-bar .angle {
    display: flex;
  }
}
