<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  
  <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

  <link rel="stylesheet" href="/assets/cssFiles/medHistory.css">
  
  <script src='/assets/jsFiles/admin.js'></script>

  <title>Add Question</title>

</head>

<body onload="onStart()">

  <!-- navigation bar -->
	<% include ./segments/navbar %>
  
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
        <div class="primary-card">
          
          <form id="msform"  method="POST" action="/admin/addQues">
              <div class="form-card">
                <div class="secondary-container title-bar">
                  <div class="row">
                    <div class="col-8">
                      <h2 class="fs-title">Add your new question here:</h2>
                    </div>
                  </div>
                </div>
                
                <!-- question -->
               
                <script>
                  // ssNames stores subSectionNames which we will use to pass through getSubSections(this.id, ssNames) function 
                  var ssNames = <%-JSON.stringify(subSectionNames)%>
                  console.log(rows)
                </script>
                <div class="family-container">  
                  <select  class="btn btn-info" name="section" id="sectionId" onchange="getSubSections(this.id, ssNames)">
                    <option disabled selected value> -- Select a Section -- </option>
                    <% for(var i = 0 ; i < sectionNames.length; i++) {%>
                      <option value="<%= sectionNames[i] %>"><%= sectionNames[i] %></option>                    
                    <% } %>                    
                  </select>
                  <br>
                  <br>
                  <select class="btn btn-info" name="subSection" id="subSectionId">
                    <option disabled selected value> -- Select a Sub Section -- </option>                    
                  </select>          
                  <br>        
                  <br>
                  <!-- it stores the number of options in this question -->
                  <input type="number" id="opCounter" name="opCount" value="0" style="display: none;">

                  <label class="fieldlabels">Write your quesion here: </label>
                  <input type="text" name="question" placeholder="" />

                  <br>     
                  <label class="fieldlabels">Select your question type form below:</label>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="singleLineType" name="type" class="custom-control-input" value="singleLine" onclick="hideConditionalSection(['multiChoiceOptions']);">
                    <label class="custom-control-label" for="singleLineType">Single line answer</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="multiLineType" name="type" class="custom-control-input" value="multiLine" onclick="hideConditionalSection(['multiChoiceOptions']);" >
                    <label class="custom-control-label" for="multiLineType">Multiple line answer</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="multiChoiceSingleType" name="type" class="custom-control-input" value="multiChoiceSingleAns" onclick="displayConditionalSection(['multiChoiceOptions']); ">
                    <label class="custom-control-label" for="multiChoiceSingleType">Multiple choice with single answer</label>
                  </div>                

                  <!-- radio for multiple choice multiple ans type  -->
                  <div class="custom-control custom-radio">
                    <input type="radio" id="multiChoiceMultiType" name="type" class="custom-control-input" value="multiChoiceMultiAns" onclick="displayConditionalSection(['multiChoiceOptions']); ">
                    <label class="custom-control-label" for="multiChoiceMultiType">Multiple choice with multiple answer</label>
                  </div>     
                  
                  <div id="multiChoiceOptions">
                    <div id="addHelper"></div>
                    <button type='button' class="btn btn-secondary addButton" onclick="addOption('')">Add option</button>
                  </div>
                                   
                </div>
              </div>                  
            <!-- </fieldset> -->
            <button type="submit" class="btn btn-success addButton">Save</button>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
