<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  
  <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

  <link rel="stylesheet" href="/assets/cssFiles/addQues.css">
  
  <script src='/assets/jsFiles/admin.js'></script>

  <title>Add Doctor Question</title>

</head>

<body onload="onStart()">

  <!-- navigation bar -->
	<% include ./segments/adminNavbar %>
  <main>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
          <div class="primary-card">
            
            <form id="msform"  method="POST" action="/admin/addQues/doctor">
                <div class="form-card">
                  <div class="secondary-container title-bar">
                    <div class="row">
                      <div class="col-8">
                        <h2 class="fs-title">New question for doctor:</h2>
                      </div>
                    </div>
                  </div>
                  
                  <!-- question -->
                 
                  <div class="family-container">  
                    <label class="fieldlabels">Write your quesion here: </label>
                    <input type="text" name="question" placeholder="" required/>
                    <br>
                   
                    <br>     
                    <label class="fieldlabels">Select your question type form below:</label>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="numericalType" name="type" class="custom-control-input" value="numerical"  required>
                      <label class="custom-control-label" for="numericalType">Numerical answer</label>
                    </div>
                   
                    <div class="custom-control custom-radio">
                      <input type="radio" id="textType" name="type" class="custom-control-input" value="text"  >
                      <label class="custom-control-label" for="textType">Text answer</label>
                    </div>
                      
                  </div>
                </div>                  
              <!-- </fieldset> -->
              <button type="submit" class="btn btn-success addButton">Save</button>
              
            </form> 
          </div>
        </div>
      </div>
    </div>
  
  </main>
 
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    <script>
      
    </script>
</body>

</html>
