<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  
  <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

  <link rel="stylesheet" href="/assets/cssFiles/medHistory.css">

  <title>Add Question</title>

</head>

<body onload="onStart()">

  <!-- navigation bar -->
	<% include ./segments/navbar %>
  
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
        <div class="primary-card">
          
          <form id="msform"  method="POST" action="/admin/addQues">
              <div class="form-card">
                <div class="secondary-container title-bar">
                  <div class="row">
                    <div class="col-8">
                      <h2 class="fs-title">Add your new question here:</h2>
                    </div>
                  </div>
                </div>
                
                <!-- question -->
                <div class="addPlace"></div>
              </div>                  
            <!-- </fieldset> -->
            <button type="submit" class="btn btn-success addButton">Save</button>
            
          </form> 
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script>
  function addQuestion(idAdder){
    console.log(idAdder)
    console.log('idAdder='+idAdder)
    let qCount= parseInt($("#qCounter"+idAdder).val())+1
    let totalQCount= parseInt($("#totalQCounter"+idAdder).val())+1
    console.log('qCount='+qCount)
    console.log('idAdder+qCount='+idAdder+qCount)

    $("#qCounter"+idAdder).val(qCount)
    $("#totalQCounter"+idAdder).val(totalQCount)
    
    $("#addHelper"+idAdder).replaceWith('<!-- question -->'+
                    '<div id="questionContainer'+ idAdder+totalQCount +'" class="">'+
                        '<div class="question-Container family-container">'+
                        'Question :' +
                        '<br>'+
                        '<div class="flx_prnt_input_opt">'+
                            '<div class="flx_chld_input">'+
                            '<input type="text" name="question" required>'+
                            '</div>'+
                            '<div class="flx_chld_opt">'+
                            '<button type="button" class="btn btn-danger" onclick="deleteQuestion('+'\'qCounter'+idAdder+'\','+'\'questionContainer'+idAdder+totalQCount+'\')">Delete</button>'+
                            '</div>'+
                        '</div>'+
                        '<br>'+
                        '<label class="fieldlabels">Write a label for this question:(E.g. Question: What is your name?, Label for it: Name) </label>'+
                        '<input type="text" name="qLabel" placeholder="" required/>'+
                        '<br>     '+
                        '<label class="fieldlabels">Select your question type form below:</label>'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="numericalType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="numerical"  onclick="hideConditionalSection(['+'\'multiChoiceOptions'+ idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'numerical\');" required>'+
                            '<label class="custom-control-label" for="numericalType'+ idAdder+qCount +'">Numerical answer</label>'+
                        '</div>'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="dateType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="date"  onclick="hideConditionalSection(['+'\'multiChoiceOptions'+ idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'date\');">'+
                            '<label class="custom-control-label" for="dateType'+ idAdder+qCount +'">Date answer</label>'+
                        '</div>'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="singleLineType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="singleLine"  onclick="hideConditionalSection(['+'\'multiChoiceOptions'+ idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'singleLine\');" required>'+
                            '<label class="custom-control-label" for="singleLineType'+ idAdder+qCount +'">Single line answer</label>'+
                        '</div>'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="multiLineType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="multiLine"  onclick="hideConditionalSection(['+'\'multiChoiceOptions'+ idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'multiLine\');">'+
                            '<label class="custom-control-label" for="multiLineType'+ idAdder+qCount +'">Multiple line answer</label>'+
                        '</div>'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="multiChoiceSingleType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="multiChoiceSingleAns" onclick="displayConditionalSection(['+'\'multiChoiceOptions'+ idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'multiChoiceSingleAns\');">'+
                            '<label class="custom-control-label" for="multiChoiceSingleType'+ idAdder+qCount +'">Multiple choice with single answer</label>'+
                        '</div>'+                    
                        '<!-- radio for multiple choice multiple ans type  -->'+
                        '<div class="custom-control custom-radio">'+
                            '<input type="radio" id="multiChoiceMultiType'+ idAdder+qCount +'" name="type'+ idAdder+qCount +'" class="custom-control-input" value="multiChoiceMultiAns" onclick="displayConditionalSection(['+'\'multiChoiceOptions'+idAdder+qCount +'\']); setTypeIndicator(\'typeIndicator'+idAdder+qCount +'\',\'multiChoiceMultiAns\');">'+
                            '<label class="custom-control-label" for="multiChoiceMultiType'+ idAdder+qCount +'">Multiple choice with multiple answer</label>'+
                        '</div>'+
                        '<input type="text" id="typeIndicator'+ idAdder+qCount +'" name="typeIndicator"  style="display: none;"  >'+
                        '<div id="multiChoiceOptions'+ idAdder+qCount +'">'+
                            '<div id="addHelper'+ idAdder+qCount +'"></div>'+
                            '<button type="button" class="btn btn-secondary addButton" onclick="addOption('+ idAdder+qCount +')">Add option</button>'+
                        '</div>'+
                        '</div>'+
                    '</div>'+
                    '<!-- next question adding place -->'+
                    '<div id="addHelper'+idAdder+'"></div>')
    
                    hideConditionalSection(['multiChoiceOptions'+idAdder+qCount ])
  }  
  function addOption(idAdder){
  console.log('idAdder='+idAdder)
  let opCount= parseInt($("#opCounter"+idAdder).val())+1
  let totalOpCount= parseInt($("#totalOpCounter"+idAdder).val())+1
  console.log('opCount='+opCount)

  console.log('idAdder+opCount='+idAdder+opCount)
  $("#opCounter"+idAdder).val(opCount)  
  $("#totalOpCounter"+idAdder).val(totalOpCount)  
  
  $("#addHelper"+idAdder).replaceWith('<!-- opiton -->'+
                      '<div id ="optionContainer'+ idAdder+totalOpCount +'" class="">'+
                      '<div class="option-Container family-container" >'+
                          '<!-- it stores the number of questions for this option -->'+
                          '<input type="number" id="qCounter'+ idAdder+opCount +'" name="qCount" value="0" style="display: none;" >'+
                          '<input type="number" id="totalQCounter'+ idAdder+totalOpCount +'" value="0" style="display: none;" >'+                      
                          'Option :' +
                          '<br>'+
                          '<div class="flx_prnt_input_opt">'+
                          '<div class="flx_chld_input">'+
                              '<input type="text" name="option" required>'+
                          '</div>'+
                          '<div class="flx_chld_opt">'+
                              '<button type="button" class="btn btn-danger" onclick="deleteOption('+'\'opCounter'+idAdder+'\','+'\'optionContainer'+idAdder+totalOpCount+'\')">Delete</button>'+
                          '</div>'+
                          '</div>'+
                          '<!-- question for this option adding place -->'+
                          '<div id="addHelper'+idAdder+opCount+'"></div>'+
                          '<!-- question for this option -->'+
                          '<button type="button" class="btn btn-secondary addButton"  onclick="addQuestion('+idAdder+opCount+')">Add question</button>'+

                          '<br>'+
                      '</div>'+
                      '</div>'+
                      '<!-- next option adding place -->'+
                      '<div id="addHelper'+idAdder+'"></div>')
  }

  function deleteOption(opCounterId, opContainerId){
  console.log('delete opCounterId= '+opCounterId)
  console.log('delete opContainerId = '+opContainerId)
  let opCount= parseInt($("#"+opCounterId).val())-1
  console.log('opCount='+opCount)

  $("#"+opCounterId).val(opCount) 
  $("#"+opContainerId).empty()
  }

</script>
</body>

</html>
