<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  
  <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

  <link rel="stylesheet" href="/assets/cssFiles/medHistory.css">

  <script src='/assets/jsFiles/adminEditProfileQues.js'></script>

  <title>Edit Question</title>

</head>

<body >

  <!-- navigation bar -->
	<% include ./segments/navbar %>
  
  <main>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
          <div class="primary-card">
            
            <form id="msform"  method="POST" action="/admin/profile/edit">
                <div class="form-card">
                  <div class="secondary-container title-bar">
                    <div class="row">
                      <div class="col-8">
                        <h2 class="fs-title">Edit Your Question:</h2>
                      </div>
                    </div>
                  </div>
                  
                  <!-- question -->
                  <div id="addPlace"></div>
                </div>                  
              <!-- </fieldset> -->
              <button type="submit" class="btn btn-success addButton">Save</button>
              <input type="text" name="baseQuestionId" value="<%=question._id%>" style="display: none;">
            </form> 
          </div>
        </div>
      </div>
    </div>
    
  </main>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script>
  let questions = [<%- JSON.stringify(question) %>]
  function loadQuesOp(){
    let str = createQuestion('', questions)
    console.log({str})
    $("#addPlace").replaceWith(str)
  }
  loadQuesOp()
  </script>
</body>

</html>
