<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/home.css" />

    <title>Registration-Care for me</title>
  </head>

  <body>
    <!-- navigation bar -->
    <% include ./segments/navbar %>
    
    <header>
      <h1>Care for me</h1>
      <h3>Welcome to your pesonalized medical record</h3>
    </header>
    <div class="service-title">
      <h2>Services</h2>
    </div>
    <div class="container"> 
      <div class="card">
        <div class="part subpart1">
          <div class="content">
            <img src="/resources/medical-record.png" alt="image is not founde">
            <h3>Keep medical-record</h3>
          </div>
        </div>
        <div class="part subpart2">
            <div class="content">
              <p>
                Medical records are the document that explains all detail about the patient's history,
               clinical findings, 
              </p>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="part subpart1">
          <div class="content">
            <img src="/resources/evaluation.png" alt="image is not founde">
            <h3>Evaluation</h3>
          </div>
        </div>
        <div class="part subpart2">
            <div class="content">
              <p>
                Medical records are the document that explains all detail about the patient's history,
                clinical findings, 
              </p>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="part subpart1">
          <div class="content">
            <img src="/resources/statistics.png" alt="image is not founde">
            <h3>Statistics</h3>
          </div>
        </div>
        <div class="part subpart2">
            <div class="content">
              <p>
                Medical records are the document that explains all detail about the patient's history,
               clinical findings, 
              </p>
            </div>
          </div>
      </div>      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
