<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/home.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css" />
    <!-- for loader -->
    <script src="/assets/jsFiles/loader.js"></script>    
    <link rel="stylesheet" href="/assets/cssFiles/loader.css" />


    <title>Registration-Care for me</title>
  </head>

  <body>
    <!-- display loading icon -->
    <div class="se-pre-con"></div>
    <!-- ends -->
    <!-- navigation bar -->
    <% include ./segments/navbar %>

    <main>
      <div class="content-wrap">
        <div class="banner">
          <div class="banner-title">
            <h1>
              Organize your medical information with us
            </h1>
          </div>
          <div class="banner-btn">
            <button >
              Register for free
            </button>
          </div>
        </div>
        <div class="about-us">
          <div class="text-container">
            <h1>
              About us
            </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium luctus enim, quis suscipit erat posuere a. Mauris condimentum, ligula a semper sollicitudin, libero nulla malesuada risus, eget imperdiet dolor enim id arcu. Nullam commodo diam sed nisl sodales eleifend. Nullam convallis tristique est nec bibendum. Nullam rutrum fermentum egestas. Nam vel consequat felis. Donec iaculis odio a pretium aliquam. Integer vitae enim tincidunt, iaculis diam at, blandit justo. Ut ultrices interdum venenatis.
            </p>
          </div>
          <div class="about-photo">
            <div class="img-container">
              <img src="/resources/consultation.jpg" alt="Photo is not loaded">
            </div>          
          </div>
        </div>
        <div class="service-container">
          <div class="service-about">
            <h1>Become familier with our services.</h1>
            <h1>Make life easy</h1>    
          </div>
          <div class="all-services">
            <div class="service">
              <div class="service-icon">
                <i class="far fa-clipboard"></i>
              </div>
              <div class="service-detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc pretium luctus enim, quis suscipit erat posuere a. 
              </div> 
            </div> 
            <div class="service">
              <div class="service-icon">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="service-detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc pretium luctus enim, quis suscipit erat posuere a.
              </div> 
            </div> 
            <div class="service">
              <div class="service-icon">
                <i class="far fa-bell"></i>
              </div>
              <div class="service-detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc pretium luctus enim, quis suscipit erat posuere a.
              </div>  
            </div> 
          </div>               
        </div>
        <div class="feature-container">
          <!-- feature 1 -->
          <div class="feature">
            <div class="details">
              <h1>Feature</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium luctus enim, quis suscipit erat posuere a. Mauris condimentum, ligula a semper sollicitudin, libero nulla malesuada risus, eget imperdiet dolor enim id arcu. Nullam commodo diam sed nisl sodales eleifend. Nullam convallis tristique est nec bibendum. Nullam rutrum fermentum egestas. Nam vel consequat felis. Donec iaculis odio a pretium aliquam. Integer vitae enim tincidunt, iaculis diam at, blandit justo. Ut ultrices interdum venenatis. Sed porttitor tempor lectus id rutrum. Vivamus maximus sodales massa, et volutpat nunc auctor sit amet. Integer venenatis iaculis augue, eu condimentum nibh finibus sit amet. Mauris quis consequat arcu.
              </p>
            </div>
            <div class="image-container">
              <div class="image-holder">
                <img src="/resources/doctor.jpg" alt="Photo is not loaded">
              </div>
            </div>
          </div>
          <!-- feature 2 -->
          <div class="feature">
            <div class="image-container">
              <div class="image-holder">
                <img src="/resources/record.jpg" alt="Photo is not loaded">
              </div>
            </div>
            <div class="details">
              <h1>Feature</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium luctus enim, quis suscipit erat posuere a. Mauris condimentum, ligula a semper sollicitudin, libero nulla malesuada risus, eget imperdiet dolor enim id arcu. Nullam commodo diam sed nisl sodales eleifend. Nullam convallis tristique est nec bibendum. Nullam rutrum fermentum egestas. Nam vel consequat felis. Donec iaculis odio a pretium aliquam. Integer vitae enim tincidunt, iaculis diam at, blandit justo. Ut ultrices interdum venenatis. Sed porttitor tempor lectus id rutrum. Vivamus maximus sodales massa, et volutpat nunc auctor sit amet. Integer venenatis iaculis augue, eu condimentum nibh finibus sit amet. Mauris quis consequat arcu.
              </p>
            </div>          
          </div>
          <!-- feature 3 -->
          <div class="feature">
            <div class="details">
              <h1>Feature</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium luctus enim, quis suscipit erat posuere a. Mauris condimentum, ligula a semper sollicitudin, libero nulla malesuada risus, eget imperdiet dolor enim id arcu. Nullam commodo diam sed nisl sodales eleifend. Nullam convallis tristique est nec bibendum. Nullam rutrum fermentum egestas. Nam vel consequat felis. Donec iaculis odio a pretium aliquam. Integer vitae enim tincidunt, iaculis diam at, blandit justo. Ut ultrices interdum venenatis. Sed porttitor tempor lectus id rutrum. Vivamus maximus sodales massa, et volutpat nunc auctor sit amet. Integer venenatis iaculis augue, eu condimentum nibh finibus sit amet. Mauris quis consequat arcu.
              </p>
            </div>
            <div class="image-container">
              <div class="image-holder">
                <img src="/resources/diary.jpg" alt="Photo is not loaded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
     
    <% include ./segments/footer.ejs %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
