<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="\assets\infoForm.css">
</head>

<body>
  <form action="">
    <fieldset>
      <legend>Please choose the appropriate options</legend>
      Check the medical symptoms you are currently experiencing:
      <br />
      <input type="checkbox" name="symptom1" value="Chest_pain" /> Chest pain<br />
      <input type="checkbox" name="symptom2" value="Respiratory" /> Respiratory<br />
      <input type="checkbox" name="symptom3" value="Cardio_vascular" /> Cardio vascular<br />
      <input type="checkbox" name="symptom4" value="Hematological" /> Hematological<br />
      <input type="checkbox" name="symptom5" value="Lymphatic" /> Lymphatic<br />
      <input type="checkbox" name="symptom6" value="Neurolohical" /> Neurolohical<br />
      <input type="checkbox" name="symptom7" value="Psychological" /> Psychological<br />
      <input type="checkbox" name="symptom8" value="Gasttrointestinal" /> Gasttrointestinal<br />
      <input type="checkbox" name="symptom9" value="Genitourinary" /> Genitourinary<br />
      <input type="checkbox" name="symptom9" value="Weight_gain" /> Weight gain<br />
      <input type="checkbox" name="symptom9" value="Weight_loss" /> Weight loss<br />
      <input type="checkbox" name="symptom9" value="Musculoskeletal" /> Musculoskeletal<br />
      <input type="checkbox" name="symptom10" value="Chest_pain" /> other <br />
      <textarea name="ohterSypmtom" rows="10" cols="30">
        The cat was playing in the garden.
      </textarea>
    </fieldset>

    <fieldset>
      <legend>Please fillup the informations</legend>
      Enter weight <br />
      <input type="number" step="0.01" min="0" name="weight" />
      <br />
      Enter blood pressure <br />
      <input type="number" min="0" name="bp" />
      <br />
      Are you currently taking any medication?
      <br>
      <input type="radio" name="medicationPos" value="yes"> Yes<br>
      <input type="radio" name="nedicationNeg" value="no" checked> No<br>
      If yes, specify them
      <br>
      <textarea name="medication" rows="10" cols="30">
        Write your medication details.
      </textarea>
      <br>
      What is on your mind?
      <br>
      <textarea name="medication" rows="10" cols="30">
        Write about your feelings.
      </textarea>
    </fieldset>
  </form>
</body>

</html>
