<html lang="en">
  <head>
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

	<link rel="stylesheet" href="/assets/cssFiles/signin.css">

    <title>Login</title>
  </head>

  <body>		
	<!-- navigation bar -->
	<% include ./segments/navbar %>

	<main>
		<div class="box-container">
			<% include ./segments/messages %>
			<div class="response-msg" >
				<div class="alert alert-warning alert-dismissible fade show" role="alert" id="errorMsg" style="display: none;">
					<p id="receivedErrMsg"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-success alert-dismissible fade show" role="alert" id="successMsg" style="display: none;">
					<p id="receivedSuccessMsg"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<form action="/auth/login" method="post" id="Login_Form">
				<div class="title">
					Welcome! Please Sign In
				</div>
				<div class="role-container">
					<h1>Choose a role</h1>
					<div class="roles">
						<div class="role-each">
							<input class="form-check-input" type="radio" name="role" id="role1" value="patient" required>
							<label class="form-check-label" for="role1">
								Patient
							</label>
						</div>	
						<div class="role-each">
							<input class="form-check-input" type="radio" name="role" id="role2" value="doctor" checked>
							<label class="form-check-label" for="role2">
								Doctor
							</label>
						</div>
					</div>				
					
				</div>
				<div class="input-container">
					<input type="text" class="form-control" id="emailOrPhone" name="emailOrPhone" placeholder="email or phone no" required="" autofocus="" />
					<input type="password" class="form-control" name="password" placeholder="password" required=""/>  
					<a href="" id="forgotPass">Forgot password?</a>
				</div>
				
				<div class="btn-container">
					<button class="login-btn"  name="Submit" value="Login" type="Submit">Login</button>  	
					<hr>
					<button class="general-reg-btn" onclick="location.href='/auth/patient/register'"  name="Register" value="Register" type="button">Patient Signup</button>  			
					<button class="doctor-reg-btn" onclick="location.href='/auth/doctor/register'" name="Register" value="Register" type="button">Doctor Signup</button>  		
				</div>	
			</form>	

		</div>
	</main>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script>
		$('#forgotPass').on('click', (e)=>{
			e.preventDefault();
			let role = $('#role1').is(':checked')? 'patient': 'doctor'
			let emailOrPhone = $('#emailOrPhone').val().trim()
			if(emailOrPhone==''){
				alert('Please provide your email address')
			}
			else{
				
				$.ajax({
					type: "POST",
					url: '/auth/forgotpass',
					data: {
						role: role,
						emailOrPhone: emailOrPhone
					},
					success: (data)=>{		
						console.log(data)
						if(data.error){
							$('#errorMsg').css("display", "block")
							$('#receivedErrMsg').html(data.error)
							$('html, body').animate({
								scrollTop: $(".response-msg").offset().top- 100
							}, 200);
						}
						else if(data.success){
							$('#successMsg').css("display", "block")
							$('#receivedSuccessMsg').html(data.success)
							$('html, body').animate({
								scrollTop: $(".response-msg").offset().top- 100
							}, 200);
						}
						
					}
				});
			}		
		})
	</script>
  </body>
</html>
