<html lang="en">
  <head>
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">

	<link rel="stylesheet" href="/assets/cssFiles/signin.css">

    <title>Registration-Care for me</title>
  </head>

  <body>		
	<!-- navigation bar -->
	<% include ./segments/navbar %>

	<main>
		<div class="box-container">
			<% include ./segments/messages %>
			<form action="/auth/login" method="post" name="Login_Form">
				<div class="title">
					Welcome! Please Sign In
				</div>
				<div class="role-container">
					<h1>Choose a role</h1>
					<div class="roles">
						<div class="role-each">
							<input class="form-check-input" type="radio" name="role" id="role1" value="generalUser" checked required>
							<label class="form-check-label" for="role1">
								General User
							</label>
						</div>	
						<div class="role-each">
							<input class="form-check-input" type="radio" name="role" id="role2" value="doctor" >
							<label class="form-check-label" for="role2">
								Doctor
							</label>
						</div>
					</div>				
					
				</div>
				<div class="input-container">
					<input type="text" class="form-control" name="emailOrPhone" placeholder="email or phone no" required="" autofocus="" />
					<input type="password" class="form-control" name="password" placeholder="password" required=""/>  
				</div>
				<div class="btn-container">
					<button class="login-btn"  name="Submit" value="Login" type="Submit">Login</button>  	
					<hr>
					<button  class="general-reg-btn" onclick="document.location='/auth/register/general'"  name="Register" value="Register" type="button">General User Signup</button>  			
					<button class="doctor-reg-btn" onclick="document.location='/auth/register/doctor'" name="Register" value="Register" type="button">Doctor Signup</button>  		
				</div>	
			</form>	

		</div>
	</main>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
