<html>
  <body>
    <form method="POST" action="/test">
      whats your name?
      <br>
      <input type="text" style="display: none;" value="44">
      <input type="text" style="display: none;" name="hiddenVal" value="88">
      <input type="text" name="v[0][0]" id="n1">
      <br>
      conditional ques:
      <br>
      first name:
      <br>
      <input type="text" name="f[0][0]" id="n1">
      <br>
      last name:
      <br>
      <input type="text" name="v[0][1]" id="n1">
      <br>
      whats your age?
      <input type="text" name="f[0][1]" id="a1">
      <br>
      whats your hobby?
      <br>
      <input type="text" name="p" id="p1">
      <br>
      <% if(1) {%>
        <div>
          working
        </div>
      <% } else { %>
        <div>
          not working
        </div>

      <% } %>

      <button type="submit" class="btn btn-primary">Submit</button>      
    </form>
  </body>
</html>