<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
  
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">

  <!-- stylesheet and script for MUltiple step form -->
  <link rel="stylesheet" href="/assets/cssFiles/test.css">
  <script src='/assets/jsFiles/medHistory.js'></script>

  <title>Medical History</title>

</head>

<body>

  <!-- navigation bar -->
	<% include ./segments/navbar %>

  <form>

  <fieldset>
    <div class="form-card">
      <div class="row">
        <div class="col-7">
          <h2 class="fs-title">Patient Lifestyle</h2>
        </div>
        <div class="col-5">
          <h2 class="steps">Step 3 - 4</h2>
        </div>
      </div> 
  
      <div class="subsection-card">
        
        <h4 class="subsection-title">Substance Use History</h4>
  
        <div class="subsection-row">
          
            <div class="subsection-col">
              <h6>Alcohol</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Cannabis</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Stimulants</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
            
            <div class="subsection-col">
              <h6>Amphetamines</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Benzodiazepines/tranquilizers</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Sedatives/hypnotics/barbiturates</h6>
              <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
            </div>
          
            
            <div class="subsection-col">
              <h6>Heroin</h6>
              <button type="button" class="btn btn-outline-dark btn-sm" onclick="togglePopUp()">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Street or illicit methadone</h6>
              <button type="button" class="btn btn-outline-dark btn-sm" onclick="togglePopUp()">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Opioids</h6>
              <button type="button" class="btn btn-outline-dark btn-sm" onclick="togglePopUp()">Edit</button>
            </div>
          
            
            <div class="subsection-col">
              <h6>Hallucinogens</h6>
              <button type="button" class="btn btn-outline-dark btn-sm" onclick="togglePopUp()" >Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>Inhalants</h6>
              <button type="button" class="btn btn-outline-dark btn-sm " onclick="togglePopUp()">Edit</button>
            </div>
  
            <div class="subsection-col">
              <h6>+</h6>
              <button type="button" class="btn btn-outline-dark btn-sm" onclick="togglePopUp()">Edit</button>
            </div>
          
        </div>
  
      </div>
  
      <div class="modal-bg" id="popup" style="display: none">
        <div class="modal-container" >
          <button type="button" class="close" aria-label="Close"  onclick="togglePopUp()">
            <span aria-hidden="true">&times;</span>
          </button>
  
        </div>
      </div>
  
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </a>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
  
      <!-- 
        <label class="fieldlabels">Upload Your Photo:</label> 
      <input type="file" name="pic" accept="image/*"> 
      <label class="fieldlabels">Upload Signature Photo:</label> 
      <input type="file" name="pic" accept="image/*">
      -->
    </div> 
    <input type="button" name="next" class="next action-button" value="Submit" /> 
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
  </fieldset>

  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>