<div class="part-container">
    <div class = "title-bar">
        Birth History
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>Birth Place</label>
        </div>
        <div class="col-9 value">
            <p id="">Dhaka</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>Week of delivery</label>
        </div>
        <div class="col-9 value">
            <p id="">40th week</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>Type of delivery</label>
        </div>
        <div class="col-9 value">
            <p id="">Normal Vaginal Delivery(NVD)</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Weight</label>
        </div>
        <div class="col-9 value">
            <p id="">2.5 kg</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Complications</label>
        </div>
        <div class="col-9 value">
            <p id="">No</p>
        </div>
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        Development History
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>First sit</label>
        </div>
        <div class="col-9 value">
            <p id="">6th month</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>First walk</label>
        </div>
        <div class="col-9 value">
            <p id="">7th month </p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Social smile capability</label>
        </div>
        <div class="col-9 value">
            <p id="">yes</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Linguistic development</label>
        </div>
        <div class="col-9 value">
            <p id="">Not late</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >First speak normally</label>
        </div>
        <div class="col-9 value">
            <p id="">10th month</p>
        </div>
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        Vaccine Information
    </div>
    <div class="row">
        <div class="col-3 tag ">
            <label class="data-title">Vaccine Name</label>
        </div>
        <div class="col-9 value">
            <p id="" class="data-title">Status</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>BCG</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Pentavalent</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >PCV</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >OPV</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >MR</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >Measles</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
    <div class="hrline"></div>
    <div class="row">
        <div class="col-3 tag">
            <label >TT (Tetanus toxoid)</label>
        </div>
        <div class="col-9 value">
            <p id="">completed</p>
        </div>
    </div>
</div>