<div class="part-container">
    <div class = "title-bar">
        Educational background
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>Heighst educational degree</label>
        </div>
        <div class="col-9 value">
            <p id="">BSc Honours</p>
        </div>
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        Specialization Details:
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        BSc Honours
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>Passing date</label>
        </div>
        <div class="col-9 value">
            <p id="">05.05.1967</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>University</label>
        </div>
        <div class="col-9 value">
            <p id="">Berlin Institute of Technology</p>
        </div>
    </div>
    <div class="hrline"></div>
    
    <div class="row">
        <div class="col-3 tag">
            <label >Certificate Link</label>
        </div>
        <div class="col-9 value">
            <a href=""> Go to link</a>
        </div>
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        Master of Science
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>Passing date</label>
        </div>
        <div class="col-9 value">
            <p id="">05.05.1967</p>
        </div>
    </div>
    <div class="hrline"></div>

    <div class="row">
        <div class="col-3 tag">
            <label>University</label>
        </div>
        <div class="col-9 value">
            <p id="">Berlin Institute of Technology</p>
        </div>
    </div>
    <div class="hrline"></div>
    
    <div class="row">
        <div class="col-3 tag">
            <label >Certificate Link</label>
        </div>
        <div class="col-9 value">
            <a href="">Go to link</a>
        </div>
    </div>
</div>

<div class="part-container">
    <div class = "title-bar">
        Occupation details
    </div>
    <div class="row">
        <div class="col-3 tag">
            <label>Past occupation</label>
        </div>
        <div class="col-9 value">
            <p id="">Software developer</p>
        </div>
    </div>
    <div class="hrline"></div>

    <p class= "title-bar subpart-title">Current occupation details</p >
    <div class="row">
        <div class="col-3 tag">
            <label>Occupation</label>
        </div>
        <div class="col-9 value">
            <p id="">Data analist</p>
        </div>
    </div>
    <div class="hrline"></div>
    
    <div class="row">
        <div class="col-3 tag">
            <label >Hours you work</label>
        </div>
        <div class="col-9 value">
            <p id="">30</p>
        </div>
    </div>
    <div class="hrline"></div>
    
    <div class="row">
        <div class="col-3 tag">
            <label >Mode of work</label>
        </div>
        <div class="col-9 value">
            <p id="">Computer</p>
        </div>
    </div>
</div>