<div class="family-container">
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">First Name</label>
        </div>
        <div class="col-10 value">
            <p id="">Rahat Rizvi</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Last Name</label>
        </div>
        <div class="col-10 value">
            <p id="">Rahman</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Display Name</label>
        </div>
        <div class="col-10 value">
            <p id="">rahat</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Email</label>
        </div>
        <div class="col-10 value">
            <p id="">r.r.rahman@gmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Date of Birth</label>
        </div>
        <div class="col-10 value">
            <p id="">01.07.1998</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Phone number</label>
        </div>
        <div class="col-10 value">
            <p id="">01711457326</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">NID number</label>
        </div>
        <div class="col-10 value">
            <p id="">111199199991972</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Gender</label>
        </div>
        <div class="col-10 value">
            <p id="">male</p>
        </div>
    </div>
</div>