<fieldset>
    <div class="form-card">
      <div class="secondary-container title-bar">
        <div class="row">
          <div class="col-7">
            <h2 class="fs-title">Family Information:</h2>
          </div>
          <div class="col-5">
            <h2 class="steps">Step 2 - 5</h2>
          </div>
        </div>
      </div>
      <div id="addPlace2"></div>
      
    </div>
  
  
    <input type="button" name="next" class="next action-button" value="Next" />
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

    <script>
       $.get("/profile/getSectionData/Family Information", (data) => {
        let elmStr = "";
        for (let i = 0; i < data.subSections.length; i++) {
          elmStr += getSubSectionStr(data.subSections[i]);
        }
        $("#addPlace2").replaceWith(elmStr);
      });
   
    </script>

  </fieldset>