<li class="nav-item ">
  <a class="nav-link" href="/doctor/patients" 
    >Patients </a
  >
</li>

<li class="nav-item ">
  <a class="nav-link" href="/doctor/followupQues"
    >Follow Up </a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/doctor/notifications" 
    >Notifications
    <span class="badge">3</span>
  </a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="/doctor/profile" 
    >Profile </a
  >
</li>