<li class="nav-item ">
  <a class="nav-link" href="/doctor/patients" 
    >Patients </a
  >
</li>

<!-- <li class="nav-item ">
  <a class="nav-link" href="/doctor/followupQues/assign"
    >Follow Up </a
  >
</li> -->
<li class="nav-item ">
  <a class="nav-link" href="/doctor/notifications" 
    >Notifications
    <% if (typeof totalUnseenNotifications != 'undefined' && totalUnseenNotifications != null && totalUnseenNotifications != 0) {%>
      <span class="badge"> <%= totalUnseenNotifications %> </span>
    <% } %>
  </a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="/doctor/profile" 
    >Profile </a
  >
</li>