<link rel="stylesheet" href="../../public/cssFiles/navbar.css">
<nav class="navbar navbar-expand-lg navbar-dark nav-container ">
    <a class="navbar-brand" href="/home">Care for me</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
          <a class="nav-link" href="/home" 
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <% if( typeof displayName == 'undefined' || displayName == '') { %>
        <li class="nav-item ">
          <a class="nav-link" href="/auth/login"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <% } %>
        <li class="nav-item ">
          <a class="nav-link" href="/data/collection"
            >Data <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/profile/edit" 
            >Medical History <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/profile" 
            >Profile <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if( typeof displayName != 'undefined' && displayName != '') { %>
        <li class="nav-item dpName">
          <h4><%= displayName %></h4>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/auth/logout"
            >Logout <span class="sr-only">(current)</span></a
          >
        </li>
        <% } %>
      </ul>

    </div>
  </nav>