<!-- <li class="nav-item ">
  <a class="nav-link" href="/data/collection"
    >Data </a
  >
</li> -->
<li class="nav-item ">
  <a class="nav-link" href="/patient/doctors" 
    >Doctors</a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/profile/medHistory" 
    >Medical History </a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/notifications" >
    Notifications
    <% if (typeof totalUnseenNotifications != 'undefined' && totalUnseenNotifications != null && totalUnseenNotifications != 0) {%>
      <span class="badge"> <%= totalUnseenNotifications %> </span>
    <% } %>
  </a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/profile" 
    >Profile </a
  >
</li>