<li class="nav-item ">
  <a class="nav-link" href="/data/collection"
    >Data </a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/records" 
    >Records</a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/profile/medHistory" 
    >Medical History </a
  >
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/notifications" 
    >Notifications
    <span class="badge">3</span>
  </a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="/patient/profile" 
    >Profile </a
  >
</li>