<fieldset>
    <div class="form-card">
  
      <div class="secondary-container title-bar">
        <div class="row">
          <div class="col-8">
            <h2 class="fs-title">Education and Occupation Details</h2>
          </div>
          <div class="col-4">
            <h2 class="steps">Step 4 - 6</h2>
          </div>
        </div>
      </div>
      
      <div id="addPlace4"></div>
  
    </div>
    <input type="button" name="next" class="next action-button" value="Next" />
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

    <script>
      $.get("/profile/getSectionData/Education and Occupation Details", (data) => {
        let elmStr = "";
        for (let i = 0; i < data.subSections.length; i++) {
          if(data.subSections[i].name == 'Specialization'){
            elmStr += getSubSectionStr4(data.subSections[i]);
          }
          else{
            elmStr += getSubSectionStr(data.subSections[i]);
          }
        }
        $("#addPlace4").replaceWith(elmStr);
      });
    function getSubSectionStr4(subSection) {
      let elmStr = "";
      elmStr += '<div class = "part">'+
                  '<div class="sub-part-row">'+
                    '<h5 class="left">' + subSection.name + '</h5>'+
                    '<i class="far fa-plus-square" onclick="addSpecialization(this.parentElement.parentElement.id)"></i>'+
                  '</div>'+
                '</div>'

      
      let qStr = '<div class="family-container">'
      for (let i = 0; i < subSection.questions.length; i++) {
        // make collapse id unique while creating ans 
        if(i==2)qStr+=  '<div class="collapse" id="collapse'+subSection._id+'">'
        qStr += getQuestionStr(subSection.questions[i]);
      }
      // make href collapse id unique while creating ans 
      // make seeMore id unique while creating ans 
      qStr+= '</div>'+
              '<br>'+
              '<div class="extend">'+
                '<p>'+
                  '<a class="btn btn-light" data-toggle="collapse" href="#collapse'+subSection._id+'" id="'+subSection._id+'seeMore"'+
                    'role="button" onclick="changeButtonText(this.id)" aria-expanded="false"'+
                    'aria-controls="collapseExample">'+
                    'See more'+
                  '</a>'+
                '</p>'+
              '</div>'+
              '</div>'


      return '<div class="secondary-container">' + elmStr +qStr + "</div>";
    }
    </script>
  </fieldset>