<fieldset>
  <div class="form-card">
    <div class="secondary-container title-bar">
      <div class="row">
        <div class="col-7">
          <h2 class="fs-title">Lifestyle</h2>
        </div>
        <div class="col-5">
          <h2 class="steps">Step 3 - 6</h2>
        </div>
      </div>
    </div>

    <div id="addPlace3"></div>

  </div> 

  <input type="button" name="next" class="next action-button" value="Next" />
  <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

  <script>
    let substanceData = <%- JSON.stringify(substanceData)%>
    // console.log(substanceData)
  
    $.get("/profile/getSectionData/Lifestyle", (data) => {
      let elmStr = "";
      for (let i = 0; i < data.subSections.length; i++) {
        if(data.subSections[i].name == "Substance Use History")elmStr += getSubSectionStr3(data._id, data.subSections[i]);
        else elmStr += getSubSectionStr(data._id, data.subSections[i]);
      }
      $("#addPlace3").replaceWith(elmStr);
    });

    function getSubSectionStr3(sectionID, subSection) {
      let  elmStr1= "", elmStr2=""
      
      for(let i = 0 ; i < Math.ceil(substanceData.length/2); i++) {
        let qStr = ''
        for (let j = 0; j < subSection.questions.length; j++) {
          qStr += getQuestionStr3(sectionID, subSection._id, substanceData[i]._id, subSection.questions[j]);
        }

        elmStr1+= '<div class="card collapse-item">'+
                    '<div class="card-header collapse-item-header" id="heading-'+i+'" data-toggle="collapse"'+
                      'data-target="#collapse-'+i+'">'+
                      ((i == 0)?

                      ('<a class="btn text-left" role="button" aria-expanded="true" aria-controls="collapse-'+i+'">'+
                        '<h6> '+substanceData[i].name+'</h6>'+
                      '</a>')
                      :
                      ('<a class="btn collapsed text-left" role="button" aria-expanded="false" aria-controls="collapse-'+i+'">'+
                        '<h6> '+substanceData[i].name+'</h6>'+
                      '</a>'))+

                    '</div>'+

                    ((i == 0)?
                    ('<div id="collapse-'+i+'" class="collapse show" aria-labelledby="heading-'+i+'"'+
                      'data-parent="#substanceAccordion-1">')
                    :
                    ('<div id="collapse-'+i+'" class="collapse" aria-labelledby="heading-'+i+'"'+
                      'data-parent="#substanceAccordion-1">')) +        
                      '<div class="card-body">'+
                        qStr+
                      '</div>'+
                    '</div>'+
                  '</div>'
      
      }

      for(let i = Math.ceil(substanceData.length/2) ; i < substanceData.length; i++) {
        let qStr = ''
        for (let j = 0; j < subSection.questions.length; j++) {
          qStr += getQuestionStr3(sectionID, subSection._id, substanceData[i]._id, subSection.questions[j]);
        }

        elmStr2+= '<div class="card collapse-item">'+
                    '<div class="card-header collapse-item-header" id="heading-'+i+'" data-toggle="collapse"'+
                      'data-target="#collapse-'+i+'">'+
                      ((i == Math.ceil(substanceData.length/2))?

                      ('<a class="btn text-left" role="button" aria-expanded="true" aria-controls="collapse-'+i+'">'+
                        '<h6> '+substanceData[i].name+'</h6>'+
                      '</a>')
                      :
                      ('<a class="btn collapsed text-left" role="button" aria-expanded="false" aria-controls="collapse-'+i+'">'+
                        '<h6> '+substanceData[i].name+'</h6>'+
                      '</a>'))+

                    '</div>'+

                    ((i == Math.ceil(substanceData.length/2))?
                    ('<div id="collapse-'+i+'" class="collapse show" aria-labelledby="heading-'+i+'"'+
                      'data-parent="#substanceAccordion-2">')
                    :
                    ('<div id="collapse-'+i+'" class="collapse" aria-labelledby="heading-'+i+'"'+
                      'data-parent="#substanceAccordion-2">')) +        
                      '<div class="card-body">'+                        
                        qStr+
                      '</div>'+
                    '</div>'+
                  '</div>'
      
      } 

      return  '<div>'+
                '<div class="secondary-container">'+
                  '<h4 class="subsection-title">' + subSection.name + '</h4>'+
                '</div>'+
                '<div class="subtance-history-container">'+
                  '<div class="accordion secondary-container" id="substanceAccordion-1">'+
                    elmStr1+
                  '</div>'+
                  '<div class="accordion secondary-container" id="substanceAccordion-2">'+
                    elmStr2+
                  '</div>'+
                '</div>'+
              '</div>'

    }

  function getQuestionStr3(sectionID, subSectionID, additionalID, question) {
    let qID = question._id.toString() + '#####' + additionalID.toString()
    let value = (typeof mapQuesToAnswer[qID] !== 'undefined') ? mapQuesToAnswer[qID]: ''
    
    let elmStr = "";
    elmStr += '<label class="fieldlabels">' + question.name + '</label>';
    if (question.inputType == "numerical")
      elmStr += ` <input type="number" name="${sectionID}#####${subSectionID}#####${question._id}#####${additionalID}" placeholder="" value="${value}"/>`;
    else if (question.inputType == "date")
      elmStr += ` <input type="date" name="${sectionID}#####${subSectionID}#####${question._id}#####${additionalID}" placeholder="" value="${value}"/>`;
    else if (question.inputType == "singleLine")
      elmStr += ` <input type="text" name="${sectionID}#####${subSectionID}#####${question._id}#####${additionalID}" placeholder="" value="${value}"/>`;
    else if (question.inputType == "multiLine")
      elmStr += `<textarea class="form-control" name="${sectionID}#####${subSectionID}#####${question._id}#####${additionalID}"  rows="3">${value}</textarea>`
    else if (question.inputType == "multiChoiceSingleAns")
      elmStr += getMultiChoiceSingleOp3(sectionID, subSectionID, additionalID, question._id, question.options)
    else if (question.inputType == "multiChoiceMultiAns")
      elmStr += getMultiChoiceMultiOp3(sectionID, subSectionID, additionalID, question._id, question.options)

    return elmStr+ '<br>';
  }

  function getMultiChoiceSingleOp3(sectionID, subSectionID, additionalID, qId, options){
      let elmStr = '', checked, displayNone 
      let conditionalPart='', condArrayStr = '['
      let fullQID = qId.toString() + '#####' + additionalID.toString()

      for(let i=0; i<options.length; i++){
        if(options[i].questions.length>0)
          condArrayStr += `'conditional${options[i]._id}##${additionalID}', `
      }
      condArrayStr+=']'

      for(let i=0; i<options.length; i++){
        checked = (typeof mapQuesToAnswer[fullQID] !== 'undefined' && mapQuesToAnswer[fullQID].includes(options[i]._id.toString())) ? 'checked' : ''
        displayNone = (typeof mapQuesToAnswer[fullQID] !== 'undefined' && mapQuesToAnswer[fullQID].includes(options[i]._id.toString())) ? '' : 'style="display: none;"'
        
        if(options[i].questions.length>0){
          let str = `'conditional${options[i]._id}##${additionalID}',` 
          let newCondArray = condArrayStr.replace(str, '')
          elmStr += '<div class="custom-control custom-radio">'+
          `<input type="radio" id="${options[i]._id}##${additionalID}" name="${sectionID}#####${subSectionID}#####${qId}#####${additionalID}" class="custom-control-input" value="${options[i]._id}#####${options[i].name}" onclick="hideConditionalSection(${newCondArray}); displayConditionalSection(['conditional${options[i]._id}##${additionalID}']);" ${checked}>` +
          `<label class="custom-control-label" for="${options[i]._id}##${additionalID}">${options[i].name}</label>` +
          '</div>'
          let qStr = ''
          for(let j=0; j<options[i].questions.length; j++){
            qStr+= getQuestionStr3(sectionID, subSectionID, additionalID, options[i].questions[j])
          }
          conditionalPart += `<div id= "conditional${options[i]._id}##${additionalID}" ${displayNone}>${qStr}</div>`
        }
        else{
          elmStr += '<div class="custom-control custom-radio">'+
          `<input type="radio" id="${options[i]._id}##${additionalID}" name="${sectionID}#####${subSectionID}#####${qId}#####${additionalID}" class="custom-control-input" value="${options[i]._id}#####${options[i].name}" onclick="hideConditionalSection(${condArrayStr});" ${checked}>` +
          `<label class="custom-control-label" for="${options[i]._id}##${additionalID}">${options[i].name}</label>` +
          '</div>'
        }
      }
      return elmStr+conditionalPart
  }

  function getMultiChoiceMultiOp3(sectionID, subSectionID, additionalID, qId, options){
    let elmStr = '', checked, displayNone 
    let fullQID = qId.toString() + '#####' + additionalID.toString()

    for(let i=0; i<options.length; i++){
      checked = (typeof mapQuesToAnswer[fullQID] !== 'undefined' && mapQuesToAnswer[fullQID].includes(options[i]._id.toString())) ? 'checked' : ''
      displayNone = (typeof mapQuesToAnswer[fullQID] !== 'undefined' && mapQuesToAnswer[fullQID].includes(options[i]._id.toString())) ? '' : 'style="display: none;"'
        
      elmStr += '<div class="custom-control custom-checkbox">'+
        `<input type="checkbox" id="${options[i]._id}##${additionalID}" name="${sectionID}#####${subSectionID}#####${qId}#####${additionalID}" class="custom-control-input" value="${options[i]._id}#####${options[i].name}" onclick="displayConditionalSectionCheckbox('${options[i]._id}##${additionalID}' , 'conditional${options[i]._id}##${additionalID}'); " ${checked}>` +
        `<label class="custom-control-label" for="${options[i]._id}##${additionalID}">${options[i].name}</label>` +
        '</div>'
      
      if(options[i].questions.length>0){  
        let qStr = ''
        for(let j=0; j<options[i].questions.length; j++){
          qStr+= getQuestionStr3(sectionID, subSectionID, additionalID, options[i].questions[j])
        }
        elmStr += `<div id= "conditional${options[i]._id}##${additionalID}" ${displayNone}>${qStr}</div>`
      }
    }
    return elmStr
  }
</script>

</fieldset>