<fieldset>
    <div class="form-card">
      <div class="secondary-container title-bar">
        <div class="row">
          <div class="col-7">
            <h2 class="fs-title">Family Information:</h2>
          </div>
          <div class="col-5">
            <h2 class="steps">Step 2 - 5</h2>
          </div>
        </div>
      </div>
      <div class="secondary-container">
        <!-- family history -->
        <div class="family-container">
          <ul class="nav nav-tabs" id="familyInfoTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="parents-tab" data-toggle="tab" href="#parents" role="tab"
                aria-controls="parents" aria-selected="true">Parents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="siblings-tab" data-toggle="tab" href="#siblings" role="tab" aria-controls="siblings"
                aria-selected="false">Siblings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="children-tab" data-toggle="tab" href="#children" role="tab" aria-controls="children"
                aria-selected="false">Children</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="relatives-tab" data-toggle="tab" href="#relatives" role="tab"
                aria-controls="relatives" aria-selected="false">Other relatives</a>
            </li>
          </ul>

          <div id="addPlace2"></div>
  
                
  
        </div>
      </div>
      
    </div>
  
  
    <input type="button" name="next" class="next action-button" value="Next" />
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

    <script>
      $.get("/profile/getSectionData/Family Information", (data) => {
        console.log("family info came")
      let elmStr = "", fatherElm = "", motherElm = "", siblingElm = "", childrenElm = "", relativeElm = ""
      for (let i = 0; i < data.subSections.length; i++) {
        if(data.subSections[i].name == "Father's Details")
         fatherElm += getSubSectionStr2(data.subSections[i]);
        else if(data.subSections[i].name == "Mother's Details")
         motherElm += getSubSectionStr2(data.subSections[i]);
        else if(data.subSections[i].name == "Sibling's Details")
          siblingElm += getSubSectionStr2(data.subSections[i]);
        else if(data.subSections[i].name == "Children's Details")
          childrenElm += getSubSectionStr2(data.subSections[i]);
        else if(data.subSections[i].name == "Relative's Details")
         relativeElm += getSubSectionStr2(data.subSections[i]);
      }
      elmStr += '<div class="tab-content" id="myTabContent">'+
                  '<div class="tab-pane fade show active" id="parents" role="tabpanel" aria-labelledby="parents-tab">'+
                    '<div class="part" id="parentsInfo">'+
                      fatherElm + motherElm+
                    '</div>'+
                  '</div>'+
                  '<div class="tab-pane fade" id="siblings" role="tabpanel" aria-labelledby="siblings-tab">'+
                    '<div class="part" id="siblingsInfo">'+
                      siblingElm+
                    '</div>'+
                  '</div>'+
                  '<div class="tab-pane fade" id="children" role="tabpanel" aria-labelledby="children-tab">'+
                    '<div class="part" id="childrenInfo">'+
                      childrenElm+
                    '</div>'+
                  '</div>'+
                  '<div class="tab-pane fade" id="relatives" role="tabpanel" aria-labelledby="relatives-tab">'+
                    '<div class="part" id="relativeInfo">'+
                      relativeElm+
                    '</div>'+
                  '</div>'+
                '</div>' 
      $("#addPlace2").replaceWith(elmStr);
    });
    function getSubSectionStr2(subSection) {
      let elmStr = "", qStr="";
      if(subSection.name!="Father's Details" && subSection.name!="Mother's Details"){
        elmStr += '<div class="sub-part-row">'+
                    '<h5 class="left subsection-title">' + subSection.name + '</h5>'+
                    // have to implement addNewMember()
                    '<i class="far fa-plus-square" onclick="addNewMember(this.parentElement.parentElement.id)"></i>'+
                  '</div>'
      }
      else{ 
        elmStr += '<div class="sub-part-row">'+
                      '<h5 class="left subsection-title">' + subSection.name + '</h5>'+
                  '</div>'
      }

      // here this for loop will iterate for every relative
      for (let i = 0; i < subSection.questions.length; i++) {
        // make collapse id unique while creating ans 
        if(i==2)qStr+=  '<div class="collapse" id="collapse'+subSection._id+'">'
        qStr += getQuestionStr(subSection.questions[i]);
      }
      // make href collapse id unique while creating ans 
      // make seeMore id unique while creating ans 
      qStr+= '</div>'+
              '<br>'+
              '<div class="extend">'+
                '<p>'+
                  '<a class="btn btn-light" data-toggle="collapse" href="#collapse'+subSection._id+'" id="'+subSection._id+'seeMore"'+
                    'role="button" onclick="changeButtonText(this.id)" aria-expanded="false"'+
                    'aria-controls="collapseExample">'+
                    'See more'+
                  '</a>'+
                '</p>'+
              '</div>'

      return elmStr + '<div class="sub-part">' + qStr + "</div>";
    }
       
    </script>

  </fieldset>