<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-8">
        <h2 class="fs-title">Education and Occupation Details</h2>
      </div>
      <div class="col-4">
        <h2 class="steps">Step 4 - 6</h2>
      </div>
    </div>
    <h4 class="subsection-title">Educational Background</h4>
    <label class="fieldlabels">What is your highest educational degree? </label>
    <input type="text" name="highestEduDegree" placeholder="" />
    <br>
    <br>
    <div class="family-container">
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Specialization (if any):</h3>
            <button type="button" class="btn btn-outline-light add" onclick="togglePopUpFamilyHistoryAdd(this.parentElement.parentElement.id)"></button>
        </div>
        <div class="sub-part">
          <div class="sub-part-row">
            <p class="title">
              Degree Name
            </p>
            <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
          </div>
          <div class="sub-sub-part">
            <p>
              Master of Science
            </p>
          </div>
          <div class="collapse" id="collapseExampleSpecialization">
            <hr>
            <p class="title">
              Passing date:
            </p>
            <div class="sub-sub-part">
              <p>
                05.05.1967
              </p>
            </div>
            <hr>
            <p class="title">
              University:
            </p>
            <div class="sub-sub-part">
              <p>
                Berlin Institute of Technology
              </p>
            </div>
            <hr>
            <p class="title">
              Certificate Link:
            </p>
            <div class="sub-sub-part">
              <p>
                <a href="">Go to link</a>
              </p>
            </div>
          </div>
          <div class="extend">
            <p>
              <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleSpecialization" id="seeMore" role="button"
                onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                See more
              </a>
            </p>
          </div>
        </div>
      </div>
      
        <!-- For popup design-->

      <div class="modal-bg" id="popupFamilyHistory" style="display: none" >
        <div class="modal-container" > 
          <div class="card">
            <p id='calledFrom' style="display: none" ></p>
            <label class="fieldlabels" for="degreeName">Degree Name:</label>
            <input type="text" name="degreeName" id='degreeName' placeholder="" cols="5"/>     
            <label class="fieldlabels" for="passingDate">Passing date:</label>
            <input type="text" name="passingDate" id='passingDate' placeholder="" cols="5"/>
            <label class="fieldlabels" for="universityName">University:</label>
            <input type="text" name="universityName" id='universityName' placeholder="" cols="5"/>
            <label class="fieldlabels" for="certificateLink">Certificate Link:</label>
            <input type="text" name="certificateLink" id='certificateLink' placeholder="" cols="5"/>

            <div class="rowRowElementHolder">
              <button type="button" class="btn btn-outline-success singleElement" id='popupOk' onclick="togglePopUpFamilyHistory('ok')">Ok</button>
              <button type="button" class="btn btn-outline-danger singleElement" id='popupCancel' onclick="togglePopUpFamilyHistory('cancel')">Cancel</button>
            </div>
          </div>  
        </div>
      </div>

    </div>
    <br>
    <br>

    <h4 class="subsection-title">Occupational Details:</h4>
    <label class="fieldlabels">What is your current or past occupation?</label>
    <input type="text" name="highestEduDegree" placeholder="" />
    <label class="fieldlabels">Are you currently working?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="employed" name="occupationState" class="custom-control-input" value="yes" onclick="displayOccupationDetails(this.id)">
      <label class="custom-control-label" for="employed">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="unemployed" name="occupationState" class="custom-control-input" value="no" onclick="displayOccupationDetails(this.id)">
      <label class="custom-control-label" for="unemployed">No</label>
    </div>
    <br>
    <div class="family-container" id="employmentDetails" >
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Working details:</h3>
        </div>
        <div class="sub-part">
          <label class="fieldlabels">What is your occupation? </label>
          <input type="text" name="occupationName" placeholder="" />

          <label class="fieldlabels">How many days you work per week? </label>
          <input type="text" name="workingDay" placeholder="" />

          <label class="fieldlabels">How many hours do you work in a day? </label>
          <input type="text" name="workingHour" placeholder="" />

          <label class="fieldlabels">Do you work full time? </label>
          <input type="text" name="workingType" placeholder="" />

          <label class="fieldlabels">What type of industry do you work for? </label>
          <input type="text" name="workingIndustry" placeholder="" />

          <label class="fieldlabels">Describe your job duties in short </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="workingDuty" rows="2"></textarea>

          <label class="fieldlabels">What is the typical mode of work? </label>
          <input type="text" name="modeOfWork" placeholder="" />

          <label class="fieldlabels">What are the known health hazards in the workplace (E.g. dust, solvents, etc.)? </label>
          <input type="text" name="workingHazards" placeholder="" />

          <label class="fieldlabels">What protective equipment do you use? </label>
          <input type="text" name="workingPretectiveEquipment" placeholder="" />

          <label class="fieldlabels">Did you ever take a leave for any health problem or injury? </label>
          <input type="text" name="workingLeaveCause" placeholder="" />

        </div>

      </div>
    </div>
    <div class="family-container" id="unemploymentDetails" >
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Working details:</h3>
        </div>
        <div class="sub-part">
          <div class="sub-sub-part">
            <label class="fieldlabels">Reason of your unemployment? </label>
            <input type="text" name="unemploymentReason" placeholder="Retired/ Disabled/ Sick leave etc." />
          </div>
        </div>
      </div>
    </div>
    <h4 class="subsection-title">Occupational Exposure Inventory</h4>
    <label class="fieldlabels">Please describe any health problems or injuries you have experienced connected with your present or past jobs: </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="jobInjury" rows="3"></textarea>
    
    <br>     
    <label class="fieldlabels">Have any of your co-workers also experienced health problems or injuries connected with the same jobs?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="coworkerHadInjury" name="coworkerInjury" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'coworkerInjuryDetails')">
      <label class="custom-control-label" for="coworkerHadInjury">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="coworkerDidNotHaveInjury" name="coworkerInjury" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'coworkerInjuryDetails')">
      <label class="custom-control-label" for="coworkerDidNotHaveInjury">No</label>
    </div>
    <div id="coworkerInjuryDetails">
      <label class="fieldlabels">If yes, please describe: </label>
      <textarea class="form-control"  name="coworkerInjuryDetails" rows="3"></textarea>
    </div>

    <br>     
    <label class="fieldlabels">Do you smoke while on the job, as a general rule?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="doSmoke" name="smokeing" class="custom-control-input" value="yes" ">
      <label class="custom-control-label" for="doSmoke">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="doNotSmoke" name="smokeing" class="custom-control-input" value="no" ">
      <label class="custom-control-label" for="doNotSmoke">No</label>
    </div>

    <br>     
    <label class="fieldlabels">Have you ever worked with any substance which caused you to break out in a rash?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="causedRash" name="rash" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'substanceRashDetails')">
      <label class="custom-control-label" for="causedRash">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="didNotCausedRash" name="rash" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'substanceRashDetails')">
      <label class="custom-control-label" for="didNotCausedRash">No</label>
    </div>
    <div id="substanceRashDetails">
      <label class="fieldlabels">If so, please describe your reaction and name the substance: </label>
      <textarea class="form-control"  name="substanceRashDetails" rows="3"></textarea>
    </div>

    <br>     
    <label class="fieldlabels">Have you ever been off work for more than a day because of an illness or injury related to work?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="offForIllness" name="illnessOff" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'offForIllnessDetails')">
      <label class="custom-control-label" for="offForIllness">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="notOffForIllness" name="illnessOff" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'offForIllnessDetails')">
      <label class="custom-control-label" for="notOffForIllness">No</label>
    </div>
    <div id="offForIllnessDetails">
      <label class="fieldlabels">If so, please describe: </label>
      <textarea class="form-control"  name="offForIllnessDetails" rows="3"></textarea>
    </div>
    
    <br>     
    <label class="fieldlabels">Have you ever worked at a job which caused you trouble breathing, such as cough, shortness of wind, wheezing?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="occuredBreathingProblem" name="breathingProblem" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'occuredBreathingProblemDetails')">
      <label class="custom-control-label" for="occuredBreathingProblem">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="didNotOccuredBreathingProblem" name="breathingProblem" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'occuredBreathingProblemDetails')">
      <label class="custom-control-label" for="didNotOccuredBreathingProblem">No</label>
    </div>
    <div id="occuredBreathingProblemDetails">
      <label class="fieldlabels">If so, please describe: </label>
      <textarea class="form-control"  name="occuredBreathingProblemDetails" rows="3"></textarea>
    </div>

    <br>     
    <label class="fieldlabels"> Have you ever changed jobs or work assignments because of any health problems or injuries?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="changedJobForInjury" name="jobChangeForInjury" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'jobChangeForInjuryDetails')">
      <label class="custom-control-label" for="changedJobForInjury">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="didNotChangedJobForInjury" name="jobChangeForInjury" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'jobChangeForInjuryDetails')">
      <label class="custom-control-label" for="didNotChangedJobForInjury">No</label>
    </div>
    <div id="jobChangeForInjuryDetails">
      <label class="fieldlabels">If so, please describe: </label>
      <textarea class="form-control"  name="jobChangeForInjuryDetails" rows="3"></textarea>
    </div>

    <br>     
    <label class="fieldlabels">Do you frequently experience pain or discomfort in your lower back or have you been under a doctor's care for back problems?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="backProblemOccured" name="backProblem" class="custom-control-input" value="yes" onclick="displayConditionalSection(this.id, 'backProblemDetails')">
      <label class="custom-control-label" for="backProblemOccured">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="backProblemDidNotOccur" name="backProblem" class="custom-control-input" value="no" onclick="displayConditionalSection(this.id, 'backProblemDetails')">
      <label class="custom-control-label" for="backProblemDidNotOccur">No</label>
    </div>
    <div id="backProblemDetails">
      <label class="fieldlabels">If so, please describe: </label>
      <textarea class="form-control"  name="backProblemDetails" rows="3"></textarea>
    </div>

    
    <br>
  </div>
  <input type="button" name="next" class="next action-button" value="Next" />
  <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
</fieldset>