<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-8">
        <h2 class="fs-title">Birth and Developmental History:</h2>
      </div>
      <div class="col-4">
        <h2 class="steps">Step 1 - 6</h2>
      </div>
    </div> 
    <label class="fieldlabels">When did you first sit?: </label>
    <input type="text" name="first_sit" placeholder="" />
    <label class="fieldlabels">When did you walk?: </label> 
    <input type="text" name="walk" placeholder="" /> 
    <label class="fieldlabels">When could you first speak normally?: </label> 
    <input type="text" name="first_speak" placeholder="" /> 
    <br>
    <h4 class="subsection-title">Immunization history</h4>
    <div class="row">
      <div class="col-7">
        <label class="fieldlabels">Vaccine name</label>
      </div>
      <div class="col-5">
        <label class="fieldlabels">Date taken</label>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <input type="text" name="vaccine" placeholder="Vaccine name" />
      </div>
      <div class="col-5">
        <input type="text" name="date_taken" placeholder="Date" />
      </div>
    </div>
  </div>  
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
