<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-8">
        <h2 class="fs-title">Birth and Developmental History:</h2>
      </div>
      <div class="col-4">
        <h2 class="steps">Step 1 - 5</h2>
      </div>
    </div> 
    <label class="fieldlabels">Where were you born? </label>
    <input type="text" name="birth_place" placeholder="" />

    <label class="fieldlabels">Type of delivery? </label>
    <br>
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='normalDelivery'
            name='deliveryType'
            value="Normal Vaginal Delivery(NVD)"
            checked
          >
          <label class="custom-control-label" for='normalDelivery'>
            Normal Vaginal Delivery(NVD)
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='caesareanDelivery'
            name='deliveryType'
            value="Caesarean Section(CS)"
          >
          <label class="custom-control-label" for='caesareanDelivery'>
            Caesarean Section(CS)
          </label>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <br>

    <label class="fieldlabels">During which week of pregnancy did your delivery take place?? </label>
    <input type="number" step="0.01" name="deleveryWeek" placeholder="" />

    <label class="fieldlabels">What was your weight at the time of birth?(In Kg) </label>
    <input type="number" name="birthWeight" placeholder="" />

    <label class="fieldlabels">Were there any complications? </label>
    <br>
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='complicationsYes'
            name='complications'
            value="yes"
          >
          <label class="custom-control-label" for='complicationsYes'>
            Yes
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='complicationsNo'
            name='complications'
            value="no"
            checked
          >
          <label class="custom-control-label" for='complicationsNo'>
            No
          </label>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <br>

    <label class="fieldlabels">When did you first sit?(answer in month. e.g. 6th month) </label>
    <input type="number" name="first_sit" placeholder="" />
    <label class="fieldlabels">When did you walk? </label> 
    <input type="text" name="first_walk" placeholder="" />     
    

    <label class="fieldlabels">Can you give a social smile? </label>
    <br>
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='canGiveSocialSmile'
            name='socialSmile'
            value="yes"
            checked
          >
          <label class="custom-control-label" for='canGiveSocialSmile'>
            Yes
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='canNotGiveSocialSmile'
            name='socialSmile'
            value="no"
          >
          <label class="custom-control-label" for='canNotGiveSocialSmile'>
            No
          </label>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <br>

    <label class="fieldlabels">Were your linguistic development late </label>
    <br>
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='linguisticDevLate'
            name='linguisticDevelopment'
            value="yes"
          >
          <label class="custom-control-label" for='linguisticDevLate'>
            Yes
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="radio" 
            class="custom-control-input" 
            id='linguisticDevNotLate'
            name='linguisticDevelopment'
            value="no"
            checked
          >
          <label class="custom-control-label" for='linguisticDevNotLate'>
            No
          </label>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <br>

    <label class="fieldlabels">When could you first speak normally? </label> 
    <input type="text" name="first_speak" placeholder="" /> 
    <br>
    <h4 class="subsection-title">Immunization history</h4>
    
    <div class="family-container">
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Add vaccine information</h3>
            <button type="button" class="btn btn-outline-light add" onclick="addVaccineDetails()"></button>
        </div>
        <div class="sub-part">        
          <div class="row">
            <div class="col-7">
              <label class="fieldlabels">Vaccine name</label>
            </div>
            <div class="col-5">
              <label class="fieldlabels">Status</label>
            </div>
          </div>
            <div id="vaccineDetails">
              <div class="row" id="vaccine">      
                <div class="col-7">
                  <input type="text" name="vaccineName" placeholder="Vaccine name" />
                </div>
                <div class="row">
                  <div class="col">
                    <div class="custom-control custom-checkbox">
                      <input 
                        type="radio" 
                        class="custom-control-input" 
                        id='vaccineCompleted'
                        name='linguisticDevelopment'
                        value="completed"
                        checked
                      >
                      <label class="custom-control-label" for='vaccineCompleted'>
                        completed
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-checkbox">
                      <input 
                        type="radio" 
                        class="custom-control-input" 
                        id='vaccineNotCompleted'
                        name='linguisticDevelopment'
                        value="incomplete"                        
                      >
                      <label class="custom-control-label" for='vaccineNotCompleted'>
                        incomplete
                      </label>
                    </div>
                  </div>
                  <div class="col">
                  </div>
                </div>
              </div>
            </div> 
          
        </div>
      </div>
    </div>
  </div>  
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
