<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-8">
        <h2 class="fs-title">Birth and Developmental History:</h2>
      </div>
      <div class="col-4">
        <h2 class="steps">Step 1 - 5</h2>
      </div>
    </div> 
    <label class="fieldlabels">When did you first sit?: </label>
    <input type="text" name="first_sit" placeholder="" />
    <label class="fieldlabels">When did you walk?: </label> 
    <input type="text" name="first_walk" placeholder="" /> 
    <label class="fieldlabels">When could you first speak normally?: </label> 
    <input type="text" name="first_speak" placeholder="" /> 
    <br>
    <h4 class="subsection-title">Immunization history</h4>
    
    <div class="family-container">
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Add vaccine information</h3>
            <button type="button" class="btn btn-outline-light add" onclick="addVaccineDetails()"></button>
        </div>
        <div class="sub-part">        
          <div class="row">
            <div class="col-7">
              <label class="fieldlabels">Vaccine name</label>
            </div>
            <div class="col-5">
              <label class="fieldlabels">Date taken</label>
            </div>
          </div>
            <div id="vaccineDetails">
              <div class="row" id="vaccine">      
                <div class="col-7">
                  <input type="text" name="vaccineName" placeholder="Vaccine name" />
                </div>
                <div class="col-5">
                  <input type="text" name="dateTaken" placeholder="Date" />
                </div>
              </div>
            </div> 
          
        </div>
      </div>
    </div>
  </div>  
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
