<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-7">
        <h2 class="fs-title">Family Information:</h2>
      </div>
      <div class="col-5">
        <h2 class="steps">Step 2 - 6</h2>
      </div>
    </div> 
    <label class="fieldlabels">Have any of your relations had any of the following?</label>
    
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_1" 
            name="highBloodPressure"
          >
          <label class="custom-control-label" for="diseaseID_1">
            High Blood Pressure
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_2" 
            name="diabetes"
          >
          <label class="custom-control-label" for="diseaseID_2">
            Diabetes
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_3" 
            name="asthma"
          >
          <label class="custom-control-label" for="diseaseID_3">
            Asthma
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_4" 
            name="schizophrenia"
          >
          <label class="custom-control-label" for="diseaseID_4">
            Schizophrenia
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_5" 
            name="glaucoma"
          >
          <label class="custom-control-label" for="diseaseID_5">
            Glaucoma
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_6" 
            name="heartAttack"
          >
          <label class="custom-control-label" for="diseaseID_6">
            Heart Attack
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_7" 
            name="tuberculosis"
          >
          <label class="custom-control-label" for="diseaseID_7">
            Tuberculosis
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_8" 
            name="alzheimerDisease"
          >
          <label class="custom-control-label" for="diseaseID_8">
            Alzheimer's disease
          </label>
        </div>

      </div>
  
      <div class="col">

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_9" 
            name="migraine"
          >
          <label class="custom-control-label" for="diseaseID_9">
            Migraine
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_10" 
            name="cancer"
          >
          <label class="custom-control-label" for="diseaseID_10">
            Cancer
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_11" 
            name="eczema"
          >
          <label class="custom-control-label" for="diseaseID_11">
            Eczema
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_12" 
            name="chromosomalAbnormality"
          >
          <label class="custom-control-label" for="diseaseID_12">
            Chromosomal Abnormality
          </label>
        </div>
  
        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_13" 
            name="stroke"
          >
          <label class="custom-control-label" for="diseaseID_13">
            Stroke
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_14" 
            name="depression"
          >
          <label class="custom-control-label" for="diseaseID_14">
            Depression
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_15" 
            name="hayFever"
          >
          <label class="custom-control-label" for="diseaseID_15">
            Hay Fever
          </label>
        </div>

        <div class="custom-control custom-checkbox">
          <input 
            type="checkbox" 
            class="custom-control-input" 
            id="diseaseID_16" 
            name="thalassemia"
          >
          <label class="custom-control-label" for="diseaseID_16">
            Thalassemia
          </label>
        </div>

      </div>

    </div>

    <br>
    <div class="form-group">
      <label class="fieldlabels">If so, please give details below.</label>
      <textarea
        class="form-control"
        id="diseaseDetailsId"
        rows="5"
        name="diseaseDetails"
      ></textarea> 
    </div>
    <br>
    
    <h4 class="subsection-title">Family history</h4>
    <!-- family history -->
    <div class= "family-container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="parents-tab" data-toggle="tab" href="#parents" role="tab" aria-controls="parents" aria-selected="true">Parents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="siblings-tab" data-toggle="tab" href="#siblings" role="tab" aria-controls="siblings" aria-selected="false">Siblings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="children-tab" data-toggle="tab" href="#children" role="tab" aria-controls="children" aria-selected="false">Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="relatives-tab" data-toggle="tab" href="#relatives" role="tab" aria-controls="relatives" aria-selected="false">Other relatives</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="parents" role="tabpanel" aria-labelledby="parents-tab">
          <div class="part">
            <div class="sub-part-row">
              <h5 class="left">Father's details</h3>
            </div>
            <div class="sub-part" id='fatherDetails'>                
              <div class="sub-part-row" >
                <p class="title" >
                  Name
                </p>
                <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
              </div>              
              <div class="sub-sub-part">
                <p name = 'name'>
                  Atikul Islam
                </p>
              </div>
              <div class="collapse" id="collapseExampleFather">
                <hr>       
                <div class="conditional">
                  <p class="title">
                    Gender
                  </p>
                  <div class="sub-sub-part">
                    <p>
                      
                    </p>
                  </div>
                </div>               
                <p class="title">
                  Birth date
                </p>
                <div class="sub-sub-part">
                  <p name = 'birthDate'>
                    Born on 05.05.1967
                  </p>
                </div>
                <hr>
                <p class="title">
                  Health & Psychiatric
                </p>
                <div class="sub-sub-part">
                  <p name = 'healthAndPsychiatric'>
                    A psychiatric history is the result of a medical process where a clinician working in the field of mental
                      health (usually a psychiatrist) systematically records the content of an interview with a patient. ...
                      Psychologists take a similar history, often referred to as a psychological history.
                  </p>
                </div> 
                </div>
                <div class="extend">
                  <p>
                    <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleFather" id="seeMore" role="button" onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                      See more
                    </a>
                  </p>
                </div>             
            </div>            
            <div class="sub-part-row">
              <h5 class="left">Mother's details</h3>
            </div>
            <div class="sub-part" id='motherDetails'>                
              <div class="sub-part-row">
                <p class="title">
                  Name
                </p>
                <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
              </div>              
              <div class="sub-sub-part">
                <p>
                  Sultana Razia
                </p>
              </div>
              <div class="collapse" id="collapseExampleMother">
                <hr> 
                <div class="conditional">
                  <p class="title">
                    Gender
                  </p>
                  <div class="sub-sub-part">
                    <p>
                      
                    </p>
                  </div>
                </div>                
                <p class="title">
                  Birth date
                </p>
                <div class="sub-sub-part">
                  <p>
                    Born on 15.11.1970
                  </p>
                </div>
                <hr>
                <p class="title">
                  Health & Psychiatric
                </p>
                <div class="sub-sub-part">
                  <p>
                    A psychiatric history is the result of a medical process where a clinician working in the field of mental
                      health (usually a psychiatrist) systematically records the content of an interview with a patient. ...
                      Psychologists take a similar history, often referred to as a psychological history.
                  </p>
                </div> 
              </div>
              <div class="extend">
                <p>
                  <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleMother" id="seeMore" role="button" onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
              </div>             
            </div>            
          </div>
        </div>   
        <div class="tab-pane fade" id="siblings" role="tabpanel" aria-labelledby="siblings-tab">
          <div class="part">
            <div class="sub-part-row">
              <h5 class="left">Sibling's details</h3>
              <button type="button" class="btn btn-outline-light add" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)" ></button>
            </div>
            <div class="sub-part" id='siblingDetails'>
              <div class="sub-part-row">
                <p class="title">
                  Name
                </p>
                <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
              </div>
              <div class="sub-sub-part">
                <p>
                  Ashraful Islam
                </p>
              </div>             
              <div class="collapse" id="collapseExampleSiblings">
                  <hr>                
                  <div class="conditional">
                    <p class="title">
                      Gender
                    </p>
                    <div class="sub-sub-part">
                      <p>
                        
                      </p>
                    </div>
                  </div>      
                <p class="title">
                  Birth date
                </p>
                <div class="sub-sub-part">
                  <p>
                    Born on 05.05.1967
                  </p>
                </div>
                <hr>
                <p class="title">
                  Health & Psychiatric
                </p>
                <div class="sub-sub-part">
                  <p>
                    A psychiatric history is the result of a medical process where a clinician working in the field of mental
                      health (usually a psychiatrist) systematically records the content of an interview with a patient. ...
                      Psychologists take a similar history, often referred to as a psychological history.
                  </p>
                </div> 
              </div>
              <div class="extend">
                <p>
                  <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleSiblings" id="seeMore" role="button" onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
              </div>             
            </div> 
          </div>                  
        </div>
        <div class="tab-pane fade" id="children" role="tabpanel" aria-labelledby="children-tab">
          <div class="part">
            <div class="sub-part-row">
              <h5 class="left">Children's details</h3>
              <button type="button" class="btn btn-outline-light add" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)" ></button>
            </div>
            <div class="sub-part" id='childrenDetails'>
              <div class="sub-part-row">
                <p class="title">
                  Name
                </p>
                <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
              </div>
              <div class="sub-sub-part">
                <p>
                  Ashraful Islam
                </p>
              </div>             
              <div class="collapse" id="collapseExampleChildren">
                <hr>                
              <p class="title">
                Gender
              </p>
              <div class="sub-sub-part">
                <p>
                  Male
                </p>
              </div> 
              <p class="title">
                Birth date
              </p>
              <div class="sub-sub-part">
                <p>
                  Born on 05.05.1967
                </p>
              </div>
              <hr>
              <p class="title">
                Health & Psychiatric
              </p>
              <div class="sub-sub-part">
                <p>
                  A psychiatric history is the result of a medical process where a clinician working in the field of mental
                    health (usually a psychiatrist) systematically records the content of an interview with a patient. ...
                    Psychologists take a similar history, often referred to as a psychological history.
                </p>
              </div> 
              </div>
              <div class="extend">
                <p>
                  <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleChildren" id="seeMore" role="button" onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
              </div>             
            </div> 
          </div>                  
        </div>
        <div class="tab-pane fade" id="relatives" role="tabpanel" aria-labelledby="relatives-tab">
          <div class="part">
            <div class="sub-part-row">
              <h5 class="left">Relative details</h3>
              <button type="button" class="btn btn-outline-light add" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)" ></button>
            </div>
            <div class="sub-part" id='relativeDetails'>
              <div class="sub-part-row">
                <p class="title">
                  Name
                </p>
                <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
              </div>
              <div class="sub-sub-part">
                <p>
                  Ashraful Islam
                </p>
              </div>             
              <div class="collapse" id="collapseExampleRelatives">
                <hr>                
              <p class="title">
                Gender
              </p>
              <div class="sub-sub-part">
                <p>
                  Male
                </p>
              </div> 
              <p class="title">
                Birth date
              </p>
              <div class="sub-sub-part">
                <p>
                  Born on 05.05.1967
                </p>
              </div>
              <hr>
              <p class="title">
                Health & Psychiatric
              </p>
              <div class="sub-sub-part">
                <p>
                  A psychiatric history is the result of a medical process where a clinician working in the field of mental
                    health (usually a psychiatrist) systematically records the content of an interview with a patient. ...
                    Psychologists take a similar history, often referred to as a psychological history.
                </p>
              </div> 
              </div>
              <div class="extend">
                <p>
                  <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleRelatives" id="seeMore" role="button" onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
              </div>             
            </div> 
          </div>                  
        </div>               
      </div> 
      
      <!-- For popup design-->

    <div class="modal-bg" id="popupFamilyHistory" style="display: none;" >
      <div class="modal-container" > 
        <div class="card">
          <p id='calledFrom' style="display: none;" ></p>
          <label class="fieldlabels" for="famimilyMemberName">Name:</label>
          <input type="text" name="name" id='famimilyMemberName' placeholder="" cols="5"/>     
          <div class="conditional">
            <label class="fieldlabels" for="famimilyMemberGender">Gender:</label>
            <input type="text" name="gender" id='famimilyMemberGender' placeholder="" cols="5"/>
          </div>   
          <label class="fieldlabels" for="famimilyMemberBirthDate">Birth date:</label>
          <input type="text" name="birthDate" id='famimilyMemberBirthDate' placeholder="" cols="5"/>
          <label class="fieldlabels" for="famimilyMemberHealthAndPsychiatric">Health and psychiatric details:</label>
          <textarea class="form-control" id="famimilyMemberHealthAndPsychiatric" rows="3"></textarea>

          <div class="rowRowElementHolder">
            <button type="button" class="btn btn-outline-success singleElement" onclick="togglePopUpFamilyHistory('ok')">Ok</button>
            <button type="button" class="btn btn-outline-danger singleElement" onclick="togglePopUpFamilyHistory('cancel')">Cancel</button>
          </div>
        </div>  
      </div>
    </div>

    </div>
  </div>                
  
                    
  <input type="button" name="next" class="next action-button" value="Next" /> 
  <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
</fieldset>
