<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-8">
        <h2 class="fs-title">Education and Occupation Details</h2>
      </div>
      <div class="col-4">
        <h2 class="steps">Step 4 - 6</h2>
      </div>
    </div>
    <h4 class="subsection-title">Educational Background</h4>
    <label class="fieldlabels">What is your highest educational degree? </label>
    <input type="text" name="highestEduDegree" placeholder="" />
    <br>
    <br>
    <div class="family-container">
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Specialization (if any):</h3>
            <button type="button" class="btn btn-outline-light add" onclick="togglePopUpFamilyHistoryAdd(this.parentElement.parentElement.id)"></button>
        </div>
        <div class="sub-part">
          <div class="sub-part-row">
            <p class="title">
              Degree Name
            </p>
            <button type="button" class="btn btn-outline-dark" onclick="togglePopUpFamilyHistory(this.parentElement.parentElement.id)">Edit</button>
          </div>
          <div class="sub-sub-part">
            <p>
              Master of Science
            </p>
          </div>
          <div class="collapse" id="collapseExampleSpecialization">
            <hr>
            <p class="title">
              Passing date:
            </p>
            <div class="sub-sub-part">
              <p>
                05.05.1967
              </p>
            </div>
            <hr>
            <p class="title">
              University:
            </p>
            <div class="sub-sub-part">
              <p>
                Berlin Institute of Technology
              </p>
            </div>
            <hr>
            <p class="title">
              Certificate Link:
            </p>
            <div class="sub-sub-part">
              <p>
                <a href="">Go to link</a>
              </p>
            </div>
          </div>
          <div class="extend">
            <p>
              <a class="btn btn-light" data-toggle="collapse" href="#collapseExampleSpecialization" id="seeMore" role="button"
                onclick="changeButtonText(this.id)" aria-expanded="false" aria-controls="collapseExample">
                See more
              </a>
            </p>
          </div>
        </div>
      </div>
      
        <!-- For popup design-->

      <div class="modal-bg" id="popupFamilyHistory" style="display: none" >
        <div class="modal-container" > 
          <div class="card">
            <p id='calledFrom' style="display: none" ></p>
            <label class="fieldlabels" for="degreeName">Degree Name:</label>
            <input type="text" name="degreeName" id='degreeName' placeholder="" cols="5"/>     
            <label class="fieldlabels" for="passingDate">Passing date:</label>
            <input type="text" name="passingDate" id='passingDate' placeholder="" cols="5"/>
            <label class="fieldlabels" for="universityName">University:</label>
            <input type="text" name="universityName" id='universityName' placeholder="" cols="5"/>
            <label class="fieldlabels" for="certificateLink">Certificate Link:</label>
            <input type="text" name="certificateLink" id='certificateLink' placeholder="" cols="5"/>

            <div class="rowRowElementHolder">
              <button type="button" class="btn btn-outline-success singleElement" id='popupOk' onclick="togglePopUpFamilyHistory('ok')">Ok</button>
              <button type="button" class="btn btn-outline-danger singleElement" id='popupCancel' onclick="togglePopUpFamilyHistory('cancel')">Cancel</button>
            </div>
          </div>  
        </div>
      </div>

    </div>
    <br>
    <br>

    <h4 class="subsection-title">Occupational Details:</h4>
    <label class="fieldlabels">What is your current or past occupation?</label>
    <input type="text" name="highestEduDegree" placeholder="" />
    <label class="fieldlabels">Are you currently working?</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="employed" name="occupationState" class="custom-control-input" value="yes" onclick="displayOccupationDetails(this.id)">
      <label class="custom-control-label" for="employed">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="unemployed" name="occupationState" class="custom-control-input" value="no" onclick="displayOccupationDetails(this.id)">
      <label class="custom-control-label" for="unemployed">No</label>
    </div>
    <br>
    <div class="family-container" id="employmentDetails" >
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Working details:</h3>
        </div>
        <div class="sub-part">
          <label class="fieldlabels">What is your occupation? </label>
          <input type="text" name="occupationName" placeholder="" />

          <label class="fieldlabels">How many hours do you work in a week? </label>
          <input type="text" name="workingHour" placeholder="" />

          <label class="fieldlabels">What is the typical mode of work? </label>
          <input type="text" name="modeOfWork" placeholder="" />
        </div>

      </div>
    </div>
    <div class="family-container" id="unemploymentDetails" >
      <div class="part">
        <div class="sub-part-row">
          <h5 class="left">Working details:</h3>
        </div>
        <div class="sub-part">
          <div class="sub-sub-part">
            <label class="fieldlabels">Reason of your unemployment? </label>
            <input type="text" name="unemploymentReason" placeholder="Retired/ Disabled/ Sick leave etc." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="button" name="next" class="next action-button" value="Next" />
  <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
</fieldset>